
<video id="video-element"  playsinline autoplay muted loop >
  <source src="https://github.com/JulesNd/video/blob/master/Photo13.MP4?raw=true" type="video/mp4">
  Your browser does not support the video tag.
  <h3 class="centered"> Nos choix</h3>

</video>
<div class="grad">
<div class="jumbotron tricot" >      <h2 id="bb" style="text-align: center">Bébé tricotine  </h2></div>
</div>
<div class="cont ">




  <div class="tricot ">
    <div class="left-div left-text">
      <div class="preview-pic tab-content">

        <div class="tab-pane active" id="pic-1"><img   src="https://drive.google.com/uc?export=view&id=1NxJd1PKJ_pDqSb3Seb2H9RaY6hCYppdE" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>

      </div>
      <div class="preview col-md-6">

      </div>

    </div>
    <div id="mobile"  class="  right-text">

      Les baskets Alma Planète bébé sont adaptées aux plus petits!
      La tige en tricot recyclé est souple et facile  à enfiler, comme une chaussette.
      La semelle avec le capot avant permet aux bébés de marcher en toute liberté et confortablement. Premières en mémoire de forme et lavables.
      <br>    Tailles disponibles: du 19 au 24

    </div>
    <div id="desktop"  class="right-div  right-text">

      Les baskets Alma Planète bébé sont adaptées aux plus petits!
      La tige en tricot recyclé est souple et facile  à enfiler, comme une chaussette.
      La semelle avec le capot avant permet aux bébés de marcher en toute liberté et confortablement. Premières en mémoire de forme et lavables.
      <br>    Tailles disponibles: du 19 au 24

    </div>
  </div>




</div>
<div class="shoescontainer">
  <img class="shoes"  src="https://drive.google.com/uc?export=view&id=1sOvATw-fwIfK8WfDVvoX9WuzemsuYrGF" />
  <img class="shoes" src="https://drive.google.com/uc?export=view&id=1S1wX268qdOGrRfD1_N3UfXOquUzZa5t1" />
  <img class="shoes"  src="https://drive.google.com/uc?export=view&id=1OiFi_yoaoEo0hXV0JmdjT6DSBJtm7iX7" />
</div>
<h1>Retrouvez nos autres lignes</h1>

<div >
<section id="gradient">
  <div class="wrapper">
    <div routerLink="/Ligne-Enfant" class="card">
      <input type="checkbox" id="card2" class="more" aria-hidden="true">
      <div class="content">
        <div class="front" style="background-image: url('https://drive.google.com/uc?export=view&id=1AywwIuIRvUvrEmuvp_avvng75Banz66N')">
          <div class="inner">
            <h2>Enfant</h2>

          </div>
        </div>

      </div>
    </div>
    <div  routerLink="/Ligne-Adulte" class="card">
      <input type="checkbox" id="card3" class="more" aria-hidden="true">
      <div class="content">
        <div class="front" style="background-image: url('https://drive.google.com/uc?export=view&id=1ZIIMPJ1IlvOCrHUpvXVkKw_t3Bmdogmz')">
          <div class="inner">
            <h2>Adulte</h2>

          </div>
        </div>

      </div>
    </div>

  </div>

</section>
</div>
