<body>
<div id="container">
  <div class="mentions">
    <p class="title"  >ALMAPLANETE  </p>

    <p> Distribué par ACE Trading Company Sarl</p>
    <p>S.a.r.l au capital de 105 000 euros - RCS: B388086282</p>

    <p> Siège Social: 74, Rue Saint Pierre de Vaise - 69009 LYON - France </p>

    <p>Telephone: +33 04.37.64.24.24</p>

    <p> Fournisseur d'hébergement: OVH US LLC
      11480 Commerce Park Dr.
      Suite 500
      Reston, VA 20191 - Etats Unis </p>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


  </div>
</div>


</body>
