<div class="jumbotron">
  <span class="bienvenu">
  BIENVENU(E) AU CLUB
    <br>

    <img src="https://drive.google.com/uc?export=view&id=17mYfvdWE81W__NeMbtyh3r7Ms8tnomNg" alt="Snow" style="width:30%">

    </span>
</div>


<div class="choices">
<div class="row">
  <div class="column" >
    <img    routerLink="/Le-Journal-Planète" src="https://drive.google.com/uc?export=view&id=1uVLZ-9F3FOW0sUd9mtZ2BV19rzy9KChg" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="https://drive.google.com/uc?export=view&id=1uVLZ-9F3FOW0sUd9mtZ2BV19rzy9KChg" alt="Forest" style="width:100%">
  </div>

</div>
</div>
