<div id="Articledash" >
  <div class="jumbotron" ><h3> Poster dans le journal</h3> </div>

  <div class="form-group">
    <label >Titre</label>
    <input class="form-control"  [(ngModel)]="title">
  </div>
  <div class="form-group">
    <label >Image ID</label>
    <input class="form-control"  [(ngModel)]="image">
  </div>

  <div class="form-group" >
    <label for="exampleFormControlTextarea1">texte</label>
    <textarea  class="form-control" id="exampleFormControlTextarea1" placeholder="Content" [(ngModel)]="content"></textarea>
  </div>
  <button type="submit" id="submitted" class="btn btn-dark"  (click)="createPost(); alert()">Publier </button>

</div>
