<main>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card mb-10">
          <div class="card-header">
          </div>
          <div class="card-body store-body">
            <div class="product-info">
              <div class="product-gallery">
                <div class="product-gallery-thumbnails">
                  <ol class="thumbnails-list list-unstyled">
                    <li><img src="https://drive.google.com/uc?export=view&id=14t6vRtKVDgAgLpEKb8OvbRzOzgmFH3K-" class="img-responsive" alt=""></li>
                    <li><img src="https://drive.google.com/uc?export=view&id=1gUdnJ1oV1XN01GyANKKxJAzdw6LdcG1_" alt=""></li>
                    <li><img src="https://drive.google.com/uc?export=view&id=1XtZnVTBK56MpbpiWH-09Af4CwTJWLgiZ" alt=""></li>
                    <li><img src="https://drive.google.com/uc?export=view&id=1o-WKgOI9-H9vOmsGkpgnDpF_TpF-A8pc" alt=""></li>
                  </ol>
                </div>
                <div class="product-gallery-featured">
                  <img src="https://drive.google.com/uc?export=view&id=14t6vRtKVDgAgLpEKb8OvbRzOzgmFH3K-" class="img-responsive" alt="">
                </div>
              </div>
            </div>
            <div class="product-payment-details">
              Notre basket ETIK est fabriquée à base de bouteilles plastiques recyclées. Le tricot procure une agréable
              sensation de légèreté et respirabilité maximale. <br><br>
              Nos chaussures sont conçues sans oeillets métalliques et avec des semelles premières amovibles pour
              faciliter le travail de recyclage.<br><br>
              Quant à la semelle, elle est collée et surpiquée pour un bon maintien du pied. Les lacets en coton
              ont une impression exclusive Alma Planète.
              <hr>
              <div class="separator">
                <img  id="washer" src="https://drive.google.com/uc?export=view&id=1qntXjVrOeubGq2haBlZF1ZWZ44uThBBJ">


                <div style="float: right; width: 75%">
                  Pour entretenir vos Alma Planète,
                  il suffit de les passer en machine à faible température.<br>
                  Nos semelles premières sont amovibles et lavables!
                </div>


              </div>

            </div>
          </div>
        </div>
        <span  routerLink="/EtikRose" class="dot pink"></span>
        <span   routerLink="/EtikBleue"  class="dot blue"></span>
        <span  routerLink="/EtikNoire" class="dot black"></span>
      </div>
    </div>
  </div>
</main>
