<img id="enfantbanner"   src="https://drive.google.com/uc?export=view&id=1_tX6MxftpdsCcOe6KF9GE_lXziqiPtfB" >


<div class="grad">
  <div class="jumbotron tricot" >      <h2 id="bb" style="text-align: center">Basket Etik </h2></div>
</div>
<div class="cont">




  <div class="tricot">
    <div   class="mobile  right-text">

      La basket Etik s’accorde à tous les moments de la journée:
      pour aller à l’école ou pour jouer avec les copains! La tige est à 100% en bouteilles recyclées.
      Quant à la semelle, elle est collée et surpiquée pour un maintien maximal. Premières amovibles et lavables.
      <br>
      Tailles disponibles: du 24 au 37

    </div>
    <div   class="Etikleft right-text desktop  ">


      La basket Etik s’accorde à tous les moments de la journée:
      pour aller à l’école ou pour jouer avec les copains! La tige est à 100% en bouteilles recyclées.
      Quant à la semelle, elle est collée et surpiquée pour un maintien maximal. Premières amovibles et lavables.
      <br>
      Tailles disponibles: du 24 au 37
    </div>
    <div  class="Etikshoes left-text">
      <div class="preview-pic tab-content">

        <div class="tab-pane " id="pic-1a"><img   src="https://drive.google.com/uc?export=view&id=12Yx2TKl0HkJ_RQINIDLP3dFBP-Q73qHS" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>
        <div class="tab-pane active" id="pic-2a"><img src="https://drive.google.com/uc?export=view&id=17FmE95Dc64EbmNYterEOtsS1BhRzh4bM" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>
        <div class="tab-pane " id="pic-3a"><img src="https://drive.google.com/uc?export=view&id=1eruImmKquqFavmTgZP6pblLc-lscrvNH" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>
        <div class="tab-pane" id="pic-4a"><img src="https://drive.google.com/uc?export=view&id=1vYCIEULVTfyAkQuFmXMFs5kgZDIyxF6w" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>
        <div class="tab-pane " id="pic-5a"><img src="https://drive.google.com/uc?export=view&id=1JoUXSyLgL77X5oEU553gXKmYHSG8yted"alt="planete , recyclage , almaplanete , environnemental friendly , plastiques"  /></div>


      </div>
      <div  class="preview col-md-6">




        <ul class="preview-thumbnail nav nav-tabs">
          <li ><a data-target="#pic-1a" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=12Yx2TKl0HkJ_RQINIDLP3dFBP-Q73qHS" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques"  /></a></li>
          <li class="active"><a data-target="#pic-2a" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=17FmE95Dc64EbmNYterEOtsS1BhRzh4bM" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>
          <li><a data-target="#pic-4a" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1eruImmKquqFavmTgZP6pblLc-lscrvNH" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>




        </ul>

      </div>

    </div>
  </div>




</div>

<div class="grad">
  <div class="jumbotron tricot3" >      <h2 id="bb" style="text-align: center">Basket tricotine </h2></div>
</div>

<div class="cont ">




  <div class="tricot3">
    <div class="left-div left-text">
      <div class="preview-pic tab-content">

        <div class="tab-pane active" id="pic-1d"><img   src="https://drive.google.com/uc?export=view&id=155NXlrG10Ty3TBTKDxNpcgt_n117HbmN" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>
        <div class="tab-pane" id="pic-2d"><img src="https://drive.google.com/uc?export=view&id=1QLNiMDSZRhRErcRtKZYK6TnUnDkoYqHd" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>

        <div class="tab-pane" id="pic-4d"><img src="https://drive.google.com/uc?export=view&id=1YcNW-se-MiPBAh-mxzNmqbeWh_FZPaM7" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>



      </div>
      <div class="preview col-md-6">




        <ul class="preview-thumbnail nav nav-tabs">
          <li class="active"><a data-target="#pic-1d" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=155NXlrG10Ty3TBTKDxNpcgt_n117HbmN" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques"  /></a></li>
          <li><a data-target="#pic-2d" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1QLNiMDSZRhRErcRtKZYK6TnUnDkoYqHd" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>
          <li><a data-target="#pic-4d" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1YcNW-se-MiPBAh-mxzNmqbeWh_FZPaM7" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>




        </ul>

      </div>

    </div>
    <div id="tricotinemobile" class=" right-text mobile">

      La basket Tricotine fait partie de notre collection de tricot hiver.
      Tige et doublure faites à partir de bouteille recyclées.
      Les impressions à base d’eau protègent la chaussure et facilitent le tri des matières.
      En plus, la semelle est collée et piquée sur la tige, et les premières sont lavables et également amovibles!
      <br>    Tailles disponibles: du 24 au 37

    </div>
    <div id="tricotinedesktop" class="right-div right-text desktop">

      La basket Tricotine fait partie de notre collection de tricot hiver.
      Tige et doublure faites à partir de bouteille recyclées.
      Les impressions à base d’eau protègent la chaussure et facilitent le tri des matières.
      En plus, la semelle est collée et piquée sur la tige, et les premières sont lavables et également amovibles!
      <br>    Tailles disponibles: du 24 au 37

    </div>
  </div>

</div>
<img id="enfantbanner2"   src="https://drive.google.com/uc?export=view&id=104kF8pA7n54er2Vxq4gFeSWhZIjtThin" >

<div class="grad">
  <div class="jumbotron jean" >      <h2 id="bb" style="text-align: center">Basket Cotinno </h2></div>
</div>
<div class="cont">




  <div  class="jean ">
    <div class="left-div left-text">
      <div class="preview-pic tab-content">

        <div class="tab-pane active" id="pic-1e"><img   src="https://drive.google.com/uc?export=view&id=1NwCca7IAPChrgUruA9eNl9NaT1yFlJYn" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>
        <div class="tab-pane" id="pic-2e"><img src="https://drive.google.com/uc?export=view&id=1VnbQWm0P_sXBpLHAC5VxiKIH0rJ5lvCj" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>

        <div class="tab-pane" id="pic-4e"><img src="https://drive.google.com/uc?export=view&id=1L1ucECGBE8GjdG3IKR55RYWBNgsIO2gQ" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>



      </div>
      <div class="preview col-md-6">




        <ul class="preview-thumbnail nav nav-tabs">
          <li class="active"><a data-target="#pic-1e" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1NwCca7IAPChrgUruA9eNl9NaT1yFlJYn" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques"  /></a></li>
          <li><a data-target="#pic-2e" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1VnbQWm0P_sXBpLHAC5VxiKIH0rJ5lvCj" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>
          <li><a data-target="#pic-4e" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1L1ucECGBE8GjdG3IKR55RYWBNgsIO2gQ" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>




        </ul>

      </div>

    </div>
    <div id="cotinomobile" class=" right-text mobile">

      La Basket Cotinno passe à un cap supérieur: il s’agit de notre première chaussure avec une semelle TPR 50% recyclé et
      nous en sommes très fiers! Adaptée à tous les moments, la tige est en coton recyclé et la doublure à 100% en bouteilles
      recyclées. Et pour bien protéger la chaussure, nous avons pensé à une talonnette en caoutchouc et des impressions à base d’eau.
      Premières amovibles et lavables!
      <br>Tailles disponibles: du 24 au 37

    </div>
    <div id="cotinodesktop"  class="right-div desktop right-text">
      La Basket Cotinno passe à un cap supérieur: il s’agit de notre première chaussure avec une semelle TPR 50% recyclé et
      nous en sommes très fiers! Adaptée à tous les moments, la tige est en coton recyclé et la doublure à 100% en bouteilles
      recyclées. Et pour bien protéger la chaussure, nous avons pensé à une talonnette en caoutchouc et des impressions à base d’eau.
      Premières amovibles et lavables!
      <br>Tailles disponibles: du 24 au 37

    </div>
  </div>




</div>


<div class="grad">
  <div class="jumbotron jean" >      <h2 id="bb" style="text-align: center">Basket Gaspi </h2></div>
</div>
<div class="cont">
  <div class="jean">
    <div class="right-div right-text">
      <div class="preview-pic tab-content">

        <div class="tab-pane active" id="pic-2f"><img src="https://drive.google.com/uc?export=view&id=1R159LibguwVWXy65gGrdCQgz6YvfSnT6" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>

        <div class="tab-pane" id="pic-4f"><img src="https://drive.google.com/uc?export=view&id=1XXZkKWSDyXTGw2Qf_3a9oPzPilq_2I90" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>
        <div class="tab-pane" id="pic-5f"><img src="https://drive.google.com/uc?export=view&id=1nfYr5kayiBMHzlzHvPka3-2hvUjlPB91" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>



      </div>
      <div class="preview col-md-6">




        <ul class="preview-thumbnail nav nav-tabs">
          <li class="active"><a data-target="#pic-2f" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1R159LibguwVWXy65gGrdCQgz6YvfSnT6" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>
          <li><a data-target="#pic-4f" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1XXZkKWSDyXTGw2Qf_3a9oPzPilq_2I90" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>
          <li><a data-target="#pic-5f" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1nfYr5kayiBMHzlzHvPka3-2hvUjlPB91" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>




        </ul>

      </div>

    </div>
    <div  id="gaspimobile" class="    left-text mobile">
      Voilà notre basket «Manifesto», c’est L’Anti Gaspi! Consommer autrement, réduire les étapes de production, redonner une deuxième vie aux matières.
      Cette basket représente nos démarches vers une consommation réfléchie.
      Tige et doublure recyclées, talonnette en caoutchouc, semelle en TPR 50% recyclé. Premières amovibles et lavables!
      <br>  Tailles disponibles: du 24 au 37
    </div>
    <div id="gaspidesktop"   class="left-div gaspi   left-text desktop">
      Voilà notre basket «Manifesto», c’est L’Anti Gaspi! Consommer autrement, réduire les étapes de production, redonner une deuxième vie aux matières.
      Cette basket représente nos démarches vers une consommation réfléchie.
      Tige et doublure recyclées, talonnette en caoutchouc, semelle en TPR 50% recyclé. Premières amovibles et lavables!
      <br>  Tailles disponibles: du 24 au 37
    </div>
  </div>


</div>
