<body>
<div id="container">
  <div class="mentions">
    <p class="title"  >CONDITIONS GENERALES DE VENTES </p>
<span class="conditions">
    1- APPLICATION DES CONDITIONS GENERALES DE VENTES <br>
    Les présentes Conditions Générales de Vente s’appliquent dans leur intégralité à toutes les
    ventes de produits de la société ACE TRADING COMPANY. Elles prévalent sur toutes les conditions
    générales d’achat ou tous autres documents émanant du Client, quels qu’en soient les termes ; toute
    commande adressée impliquant l’acceptation sans réserve des tarifs de la société ACE TRADING
    COMPANY et des présentes Conditions Générales de Vente.
    Conformément au règlement n°44-2001 du 22 décembre 2000 se substituant à la convention
    de Bruxelles du 27 septembre 1968, les parties désignent le Juge français pour connaitre de tout litige
    relatif aux présentes ainsi que pour l’exécution des décisions
    D’un commun accord, les parties désignent la loi française comme loi du contrat.
    La monnaie de compte et la monnaie de règlement seront l’euro.
    Les produits, objets des présentes, sont toutes les collections commercialisées par
    ALMA PLANETE (Marque déposée).<br>
    2- PRISE DE COMMANDES – MODIFICATIONS<br>
    Les commandes sont adressées par le client à ACE TRADING COMPANY par courrier, mail ou
    télécopie. Les commandes ne sont définitives que lorsqu’elles ont été confirmées par écrit.
    Aucune modification et/ou annulation de commande ne pourra être prise en compte par la
    société ACE TRADING COMPANY, à défaut d’accord exprès du vendeur.
    Les commandes du client devront décrire précisément les caractéristiques, les références,
    tailles, coloris et quantités des produits souhaités, elles seront confirmées par le vendeur. En cas
    d’inexécution par l’acheteur de ses obligations, ACE TRADING COMPANY pourra suspendre toute
    livraison et en exiger le paiement immédiat intégral des marchandises livrées.<br>
    3- LIVRAISON<br>
    Les livraisons ne sont opérées qu’en fonction des disponibilités. Le vendeur est autorisé à
    procéder à des livraisons de façon globale ou partielle.
    Les délais de livraisons sont indiqués aussi exactement que possible mais sont en fonction des
    possibilités d’approvisionnement, de fabrication et de transport du vendeur.
    Les dépassements de délai de livraison ne peuvent donner lieu à dommages-intérêts, à retenue
    ni à annulation des commandes en cours.
    Toutefois, le vendeur pourra procéder à la résolution de la vente si un cas de force majeure
    l’empêche de livrer la commande : pénurie de matières premières, d’énergie, bris de machine,
    paralysie des transports, grèves, incendie, etc...
    En toute hypothèse, la livraison dans les délais ne peut intervenir que si l’acheteur est à jour
    de ses obligations envers le vendeur, quelle qu’en soit la cause.
    Les produits sont livrables au lieu convenu sauf stipulation contraire, plus particulièrement en
    ce qui concerne les ventes internationales.
    Les produits devront être vendus au lieu de livraison sauf stipulation contraire.<br>

    4- PRIX<br>
    Les factures sont établies au tarif en vigueur au moment de la passation de la commande. Les
    prix sont fixés sur un tarif tenu à la disposition de l’acheteur. Les prix s’entendent Hors Taxes,
    emballage compris, sauf stipulation contraire en matière de ventes internationales.
    Tout impôt, taxe, droit ou autre prestation à payer en application des règlements français ou
    ceux d’un pays importateur ou d’un pays de transit sont à la charge de l’acquéreur.
    Pour toute commande il sera confirmé si le transport sera à la charge de l’acheteur ou de ACE<br>
    TRADING COMPANY.<br>
    5- RECEPTION<br>
    Les produits et les colis doivent être impérativement vérifiés à la réception de ces derniers en
    présence du transporteur ; les frais et les risques afférents à la vérification étant à la charge du Client.
    Le Client devra agréer, systématiquement, à réception de chaque commande, les produits et s’assurer
    ainsi de leur qualité.
    Conformément à l’article L 133-3 du Code de Commerce, en cas d’avarie et/ou de manquant
    des produits livrés par un transporteur, le Client devra effectuer toutes réserves auprès de ce dernier,
    et les confirmer par acte extra-judiciaire ou par lettre recommandée avec accusé de réception auprès
    de ce transporteur et du vendeur dans les trois jours qui suivent la réception des marchandises.
    Toute réserve ou contestation relative à la conformité des produits ainsi que le nombre de
    manquants devront être mentionnés sur le bon de livraison et/ou être formulés par écrit dans les huit
    jours de l’arrivé des produits. Le Client devra prouver l’existence de manquants ainsi que tous défauts
    concernant les produits. La société ACE TRADING COMPANY se réserve le droit de procéder à toute
    vérification sur place. Le Client s’engage notamment à laisser au vendeur toute facilité pour procéder
    à la constatation et pour y porter remède. Il s’abstiendra d’intervenir lui-même ou de faire intervenir
    un tiers à cette fin.<br>
    6- RETOUR<br>
    Tout retour doit faire l’objet d’un accord formel entre le vendeur et l’acquéreur qui donne lieu
    à délivrance d’un bon de retour par le vendeur qui sera joint aux marchandises retournées par
    l’acheteur.
    Tout produit retourné sans cet accord serait tenu à la disposition de l’acquéreur et ne
    donnerait pas lieu à l’établissement d’un avoir.
    Les frais et les risques du retour sont toujours à la charge de l’acquéreur.
    Toute reprise acceptée par le vendeur entrainera constitution d’un avoir au profit de
    l’acquéreur, après vérification qualitative et quantitative des produits retournés.
    Au cas de vices apparents ou de non-conformité des produits livrés, dûment constaté par le
    vendeur dans les conditions prévues à l’article 5, le vendeur établira un avoir au profit de l’acquéreur,
    à l’exclusion de toute indemnité ou dommages-intérêts.<br>
    7- FACTURATION<br>
    A chaque livraison correspondra une facture. La date de sortie d’entrepôt des produits est à la
    fois la date d’émission de la facture et le point de départ de la date d’exigibilité en cas de paiement à
    terme.<br>

    8- PAIEMENT<br>
    Les factures sont payables au siège du vendeur.
    Les conditions de paiement sont fixées sur le bon de commande et définitivement établies sur
    la confirmation de commande. Les paiements sont effectués par chèque, virement, lettre de change
    relevée ou billet à ordre et payables au siège social de la société ACE TRADING COMPANY.
    Le règlement est réputé réalisé lors de la remise des fonds à la disposition de la société
    ACE TRADING COMPANY
    En cas de retard de paiement, même partiel, le vendeur se réserve le droit :
    - De suspendre toutes les commandes en cours, sans préjudice de toute autre voie d’action.
    - De facturer forfaitairement un montant de 40€, pour frais de recouvrement et d’appliquer
    des pénalités de retard de 12% annuel, exigibles le jour suivant la date de règlement
    mentionnée sur la facture.
    - De réclamer par écrit la restitution des produits impayés au frais et risques du Client
    défaillant, laquelle restitution devra intervenir dans les sept (7) jours de la demande.
    - De réclamer par écrit l’exigibilité immédiate de toute somme restant due, quel que soit le
    mode de règlement prévu.

    Les intérêts courront du jour de l’échéance jusqu’au paiement.
    Si lors d’une précédente commande, l’acheteur s’est soustrait à ses obligations (défaut ou
    retard de règlement, par exemple), un refus de vente pourra lui être opposé, à moins que ce client ne
    fournisse des garanties satisfaisantes ou un paiement comptant.
    L’acheteur devra rembourser tous les frais occasionnés par le recouvrement contentieux des
    sommes dues y compris les honoraires d’officiers ministériels.
    En aucun cas, les paiements ne peuvent être suspendus ni faire l’objet d’une quelconque
    compensation sans l’accord écrit et préalable du vendeur. Tout paiement partiel s’imputera d’abord
    sur la partie non privilégiée de la créance, puis sur les sommes dont l’exigibilité est la plus ancienne.
    Toute détérioration du crédit de l’acheteur pourra justifier l’exigence de garanties ou d’un
    règlement comptant ou par chèque de banque, avant l’exécution des commandes reçues et le vendeur
    se réserve le droit, à tout moment, en fonction des risques encourus, de fixer un plafond au découvert
    de chaque acheteur et d’exiger certains délais de paiement ou certaines garanties.<br>
    9 – TRANSFERT DES RISQUES<br>
    A compter de leur date de la délivrance des produits, les produits sont sous la garde du Client
    jusqu’au transfert de propriété, lequel doit supporter les risques qu’ils pourraient subir ou occasionner,
    pour quelque cause que ce soit, même en cas de force majeure, de cas fortuit ou du fait d’un tiers.
    10 – RESERVE DE PROPRIETE
    Conformément à la loi n°80-335 du 12 mai 1980, les produits vendus par la société
    ACE TRADING COMPANY ne deviendront la propriété du Client qu’après paiement intégral des sommes
    dues par celui-ci y compris le prix des services annexes tels que les frais de transport lorsqu’ils sont
    dus.
    Dans le cas où le paiement n’interviendrait pas dans le délai prévu par les parties, le vendeur
    se réserve le droit de reprendre la chose livrée et, si bon lui semble, de résilier le contrat.
    L’acheteur devra souscrire une assurance garantissant les risques nés à compter de la
    délivrance des marchandises.
    En cas de saisie-arrêt, ou toute autre intervention d’un tiers sur les marchandises, l’acheteur
    devra impérativement en informer le vendeur sans délai afin de lui permettre de s’y opposer et de
    préserver ses droits.
    L’acquéreur s’interdit en out de donner gage ou de céder à titre de garantie la propriété des
    marchandises.<br>

    11 – FORCE MAJEURE<br>
    Sont notamment assimilés à des cas de force majeure déchargeant la société
    ACE TRADING COMPANY de son obligation de livrer dans les délais initialement prévus, les grèves de
    la totalité ou d’une partie du personnel de la société, des transporteurs habituels ou de l’un de ses
    fournisseurs, toute modification de la réglementation, l’incendie, l’inondation, la guerre, les arrêts de
    production et de fourniture d’énergie et/ou de matière premières, les ruptures de stock. Dans de
    telles conditions, la société ACE TRADING COMPANY préviendra le Client par écrit, notamment par
    télécopie ou mail, dans les 8 jours de la date de survenance des événements, le contrat liant la
    société ACE TRADING COMPANY et le client étant alors suspendu de plein droit sans indemnité à
    compter de la date de survenance de l’événement. Cessation des événements : le contrat reprenant
    alors ses pleins effets.
    Si l’événement venait à durer plus de 30 (trente) jours à compter de la date de survenance de
    celui-ci, le contrat de vente conclu par la société ACE TRADING COMPANY et son client pourra être
    résilié par la partie la plus diligente sans qu’aucune des parties ne puisse prétendre à l’octroi de
    dommages et intérêts. Cette résiliation prendra effet à la date de première présentation de la lettre
    recommandée avec accusé de réception dénonçant le dit contrat.<br>
    12 – COMPETENCE – CONTESTATION<br>
    Seront seuls compétents en cas de litige de toute nature ou de contestation relative à la
    formation ou l’exécution de la commande, les tribunaux de Lyon à moins que le vendeur ne préfère
    saisir tout autre juridiction compétente.
    Cette clause s’applique même en cas de référé, de demande incidente ou de pluralité de
    défendeurs et quels que soient le mode et les modalités de paiement.<br>


  <img  id="Logo"  src="https://drive.google.com/uc?export=view&id=1w7JteIkxap0yk07-saZeiafX58ip_tXU" alt="Lorem Ipsum"> <br>


    Distribué par :<br>
    Ace Trading Company
    74, rue Saint Pierre de Vaise
    69009 Lyon - France <br>
    Sarl au capital de 105 000 euros<br>
    RCS : B388086282<br>
    APE : 4616Z<br>
    N° TVA intracommunautaire: FR62388086282<br>
    Téléphone : (33) 04.37.64.24.24<br>
    alma@ace-unit.com<br>
</span>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


  </div>
</div>


</body>
