.jumbotron{
  background-color: #e8eb38;
}
h3{
  margin-left: 40%;
  color: #FFFFFF;
  font-size: 3rem;
}
body{
  height: 100%;

}
.mentions{
  font-size: 4vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
.title{
  font-size: 3.5vh;

  padding: 2%;
}

#container{
  font-family: concert, serif;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.conditions {
  font-size: 2.5vh;
  text-align: center;
}

#Logo {
  width: 15%;
  height: auto;
  padding: 2%;
}
