.Container1 {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  width: 100%;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.Text1 {
  font-size: 3vh;
  font-family: hand, serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Text2 {
  font-size: 3vh;
  font-family: hand, serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.BigText1, .BigText2 {
  font-size: 4.5vh;
  font-weight: bold;
  font-family: hand, serif;
  color: rgb(18,195,243);
  text-align: center;
  padding: 2%;
}

.Container2 {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.BigText3 {
  font-size: 4.5vh;
  font-weight: bold;
  font-family: hand, serif;
  color: rgb(18,195,243);
  padding: 2%;
}
.retrait {
  text-indent: 60px;
}

#Photo1 {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#Photo2{
  width: 60%;
  height: auto;
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}
