
<div class="container">

  <h1 class="title  ">Qui est  Alma Planète ?</h1>
  <div class="text1 ">

    Alma Planète est née de notre envie de changer le mode de consommation Fast Fashion:
    avoir un produit recyclé et recyclable.<br>
    Tous nos produits sont à base de matière recyclées. Lors de la conception de nos
    chaussures, nous réfléchissons au process de recyclage pour qu'à la fin de sa vie toutes les matières puissent
    etre facilement détachables et enfin réutilisées à nouveau.

  </div>

  <div class="chaussures text1">
<h1 class="title2">Nos chaussures</h1>
    <img class="pic1" src="https://drive.google.com/uc?export=view&id=1z_RFLY4qWDRl9ueTHWxnX4eYkF09HU3b"  >
<div class="card text1">
    Une basket simple et confortable à porter, qui respecte l'environnement et défend un
    commerce transparent et équitable. Nous proposons des chaussures à base de matières recyclées
    comme les bouteilles plastiques ou le coton.<br>
    Tout le cycle de production est important: de la conception au packaging, notre but
    est de contribuer à diminuer les déchets sur notre planète. <br>
    Avoir une chaussre éthique à juste prix: garder une relation transparente avec notre
    fournisseur et l'usine, inspecter la fabrication et fournir des certificats
    pour les matières recyclées aux clients.</div>

  </div>
  <div class="chaussures text1">

    <h1 class="title2">Notre production</h1>
    <img class="pic2" src="https://drive.google.com/uc?export=view&id=1z_RFLY4qWDRl9ueTHWxnX4eYkF09HU3b"  >

    <div class="card text1">
      Avoir un produit équitable à juste prix. Notre but est de pouvoir fournir un produit qui respecte l’environnement,
      tout en gardant un prix abordable. Garder des relations transparentes avec notre usine et fournisseur en Chine pour assurer un travail qualitatif et équitable.
      Être toujours à la recherche de nouvelles matières recyclées et d’autres moyens d’aider la planète!
      Lors de respecte l’usine pour les matières recyclées aux clients.
      Avoir un produit équitable à juste prix. Notre but est de pouvoir fournir un produit qui respecte l’environnement,
      tout en gardant un prix abordable. Garder des relations transparentes avec notre usine et fournisseur en Chine pour assurer un travail qualitatif et équitable.
      Être toujours à la recherche de nouvelles matières recyclées et d’autres moyens d’aider la planète
    </div>

  </div>

  <h1 class="title3 text1">Un approvisionnement centralisé</h1>
  <img class="pic3" src="https://drive.google.com/uc?export=view&id=1-ltUs0ZwFOzPZuQwKIahTMwkAb3_tu2Z"  >

  <h1 class="title3 text1">Certifier nos matières !</h1>
  <div class="text1 ">

    Pour les matières recyclées, nous avons un certificat GRS "Global Recycle Standard".
    Cette norme GRS est conçue pour répondre aux besoins des entreprises qui souhaitent
    vérifier le contenu recyclé de leurs produits (finis et intermédiaires) et controler les pratiques
    sociales, environnementales et chimiques responsables dans leurs production.

  </div>
  <img id="photo8" src="https://drive.google.com/uc?export=view&id=1vx-T5v8I1-gYEL5D6Cn7v7URAG8re-S_">
  <h1 class="title3 text1">Toutes nos demarches sur:</h1>
  <div class="demarches">
  <span id="tricot">TRICOT</span>
  <span id="partner">Nos partenaires</span>
  <span id="soutient">Soutiens</span>
  </div>
  <h1 class="title3 text1">Nos valeurs</h1>
  <div class="main">
    <div class="band">
      <div class="item-4">
        <a  class="card">
          <div class="thumb" >
            <img class="minipic" src="https://drive.google.com/uc?export=view&id=1dQrgWP1sMgE5hh03cyoMTXRFY4_VP7Od"  >
          </div>
          <article>
            <h1>Confort</h1>
            <span>Confortable et durable</span>
          </article>
        </a>
      </div>
      <div class="item-5">
        <a class="card">
          <div class="thumb" >
            <img class="minipic" src="https://drive.google.com/uc?export=view&id=1YKJgxsOfxn1B5sWITQPFx0dwMSH0napG"  >
          </div>
          <article>
            <h1>Recyclée</h1>
            <span>Réfléchir, réutiliser et recycler</span>
          </article>
        </a>
      </div>
      <div class="item-6">
        <a  class="card">
          <div class="thumb" >
            <img class="minipic" src="https://drive.google.com/uc?export=view&id=12TFMBjcMIuvMjYJPd4ryc1tWBFnJv-9f"  >
          </div>
          <article>
            <h1>MIF</h1>
            <span>Relations durables, transparentes
</span>
          </article>
        </a>
      </div>
      <div class="item-7">
        <a  class="card">
          <div class="thumb" >
            <img class="minipic" src="https://drive.google.com/uc?export=view&id=1HNd51CERDfudahjEuD-jFUEtqGAA3kpO"  >
          </div>
          <article>
            <h1>Innovante</h1>
            <span> Redonner du sens aux matières
</span>
          </article>
        </a>
      </div>
    </div>
  </div>

</div>
