<div class="Container1">

  <div class="Video">
    <p>Video ici</p>
  </div>

  <div class="Text1">
    <h1 class="BigText1">Qui est  Alma Planète ?</h1>
    <p>
      Alma Planète est née de notre envie de changer le mode de consommation Fast Fashion:
      avoir un produit recyclé et recyclable.<br><br>
      Tous nos produits sont à base de matières recyclées. Lors de la conception de nos
      chaussures, nous réfléchissons au process de recyclage pour qu'à la fin de sa vie toutes les matières puissent
      être facilement détachables et enfin réutilisées à nouveau.
    </p>
  </div>

</div>

<h1 class="BigText2">
  Une basket simple et confortable à porter, qui respecte <br>l'environnement et défend un
  commerce transparent et équitable.
</h1>

<br>

<div class="Container2">

  <div class="Text2">
    <h1 class="BigText3">NOTRE PRODUCTION</h1>
    <p class="retrait">
      Avoir un produit équitable à juste prix. Notre but est de pouvoir fournir un produit qui respecte l’environnement,
      tout en gardant un prix abordable.<br>
    </p>
    <p class="retrait">
      Garder des relations transparentes avec notre usine et fournisseur en Chine pour assurer un travail qualitatif et équitable.
      Être toujours à la recherche de nouvelles matières recyclées et d’autres moyens d’aider la planète !
    </p>
  </div>

  <div>
    <img id="Photo1" src="https://drive.google.com/uc?export=view&id=1m_K9S5qMt207mIb5rR5fY_fQxcQ4GDwA" alt="Photo chaussures Alma dans boite">
  </div>

</div>

<div>
  <img id="Photo2" src="https://drive.google.com/uc?export=view&id=1tmb__2vd2GVvh_2-7POvcmUlwUVnMhwd" alt="Photo Production">
</div>
