<div class="Container1">

  <div>
    <img id="PhotoA" src="https://drive.google.com/uc?export=view&id=19d66IfqkUkGgqb410fRzFVNWA5R7OEzb" alt="Photo chaussures Alma dans boite">
  </div>

  <div class="Text1">
    <h1 class="BigText1">Le projet Alma Planète qui sensibilise contre le gaspillage</h1>
    <div>
      <img id="PhotoB" src="https://drive.google.com/uc?export=view&id=17mYfvdWE81W__NeMbtyh3r7Ms8tnomNg" alt="Photo chaussures Alma dans boite">
    </div>

     <span   class="BigText1">DANS NOS CHAUSSURES:</span> <br>
     <ul class="t">
    <li>Proposer uniquement des tiges à base de matières recyclées </li>
    <li>  Utiliser un packaging en carton recyclé sans colle ni solvants</li>
     <li> Ne pas utiliser de pièces métalliques dans nos tiges (oeillets, fermetures éclair) pour faciliter le travail de recyclage</li>
    <li>  Donner une deuxième vie aux produits mis sur le marché grâce aux Points Relais d’Eco TLC, La Fibre du Tri.</li>
  </ul>
    <div>
      <img id="PhotoC" src="https://drive.google.com/uc?export=view&id=1Vvi5qK6OBoey1r1qXhEaOZtDf88Ws28S" alt="Photo chaussures Alma dans boite">
    </div>
  </div>

</div>



<h1 class="BigText2">
  <br>
  ACTIONS EXTERIEURES

</h1>

<br>

<div class="Container2">

  <div class="Text2">
    <p class="retrait">
      Soutenir le réemploi solidaire en aidant l’association Les Bouchons d’Amour.
      <br>
    </p>
  </div>
  <div>
    <img id="Photo1" src="https://drive.google.com/uc?export=view&id=1aVl7OkCfTZjXfy6S59aYIYjrde5auukl" alt="Photo chaussures Alma dans boite">
  </div>

</div>


<app-post-list></app-post-list>

