<img id="AdulteBanner"   src="https://drive.google.com/uc?export=view&id=1_2aciAG4JVEprSwXHfuVhwY0XzandNyU" >

<div class="grad">
  <div class="jumbotron tricot" >      <h2 id="bb" style="text-align: center">Ligne gaspi  </h2></div>
</div>
<div class="cont ">




  <div class="tricot ">
    <div class="left-div left-text">
      <div class="preview-pic tab-content">

        <div class="tab-pane active" id="pic-1"><img   src="https://drive.google.com/uc?export=view&id=1ex3zQl0XKy1VUV3mXDsCzS26GGrOHAdZ" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>

      </div>
      <div class="preview col-md-6">

      </div>

    </div>
    <div id="mobile"  class="  right-text">

      La ligne Gaspi est destinée aux enfants et aux parents.
      C’est notre manifeste contre le gaspillage: une nouvelle façon de produire, de consommer et de réfléchir !
      La tige en coton recyclé et la doublure en bouteilles recyclées aident à trier les matières lorsqu’on les recycle !
      Premières amovibles et lavables, et une semelle en TPR 50% recyclée !
      <br> Tailles disponibles: du 36 au 47


    </div>

    <div id="desktop"  class="right-div  right-text">

      La ligne Gaspi est destinée aux enfants et aux parents.
      C’est notre manifeste contre le gaspillage: une nouvelle façon de produire, de consommer et de réfléchir !
      La tige en coton recyclé et la doublure en bouteilles recyclées aident à trier les matières lorsqu’on les recycle !
      Premières amovibles et lavables, et une semelle en TPR 50% recyclée !
     <br> Tailles disponibles: du 36 au 47


    </div>
  </div>




</div>
<div class="shoescontainer">
  <img class="shoes" src="https://drive.google.com/uc?export=view&id=101G51GGjRBGfEs0dAo0yQsDlxwk_66Z5" />
  <img class="shoes"  src="https://drive.google.com/uc?export=view&id=1kUQM74_xTMqK4FhPsIwdCtT5zeO2Ptao" />
  <img class="shoes"  src="https://drive.google.com/uc?export=view&id=1R159LibguwVWXy65gGrdCQgz6YvfSnT6" />
</div>
