video{
  height: auto;
  width:70%;
  margin-right: auto;
  margin-left: auto;
  display: block;

}
#jumb {
  background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png")
}
.grad{

  background: linear-gradient(-45deg, rgba(233, 120, 85, 0.87), rgba(231, 60, 126, 0.84), rgba(35, 166, 213, 0.87), rgba(35, 213, 171, 0.83));
  background-size: 300% 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 90%;
  margin-top: 2%;
  animation: gradientBG 15s ease infinite;
}
.cont {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 90%;

}
#bb {
  font-size: 5vh;
  color: white;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.tricot {background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");}
.left-div
{
  display: inline-block;
  max-width: 45%;
  text-align: left;
  padding: 10px;
  background-color: transparent;
  margin: 15px;
  vertical-align: top;
  color: black;
  font-weight: 100;
}
.right-text {
  padding: 2%;
  text-align: justify;
  text-justify: inter-word;
  word-wrap: break-word;
  height: 20%;
  color: black;
}
.left-text{
  padding: 2%;
  height: 20%;
  text-align: justify;
  text-justify: inter-word;
  word-wrap: break-word;

}
.right-div
{
  display: inline-block;
  max-width: 46%;
  text-align: left;

  border-radius: 3px;

  margin: 15px;
  font-size: 3.5vh;

  font-weight: 100;

  color: #222222;

}
.tab-content {
  overflow: hidden; }
.tab-content img {
  width: 100%;
}
.preview-pic{
  width: 150%;
  height: auto;
}
#pic-1 , #pic-2 , #pic-3 , #pic-3 , #pic-4 , #pic-5  {
  width: 60%;
  height: auto;
}

.jumbotron {
  background-color: transparent;
}
.shoescontainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.shoes {
  display: inline-block;
  height: auto;
  width: 40%;
  margin-left: auto;
  margin-right: auto;

}
#AdulteBanner {
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (min-width:320px) and (max-width:799px)  {
  #pic-1 , #pic-2 , #pic-3 , #pic-3 , #pic-4 , #pic-5  {
    width: 100%;
    height: auto;
  }
  .left-div
  {
    display: inline-block;
    max-width: 65%;
    text-align: left;
    padding: 10px;
    background-color: transparent;

    vertical-align: top;
    color: black;
    font-weight: 100;
  }
  #desktop {
    display: none;
  }
  #mobile {
    font-size: 3vh;
  }
  .shoes {
    display: inline-block;
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    position: center;

  }
  #AdulteBanner {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .grad{

    background: linear-gradient(-45deg, rgba(233, 120, 85, 0.87), rgba(231, 60, 126, 0.84), rgba(35, 166, 213, 0.87), rgba(35, 213, 171, 0.83));
    background-size: 300% 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    margin-top: 2%;
    animation: gradientBG 15s ease infinite;
  }
}
@media (min-width:801px)  {
  #mobile {
    display: none;
  }
}
.w {
  margin: 0 auto;
  margin-top: 5%;
  white-space: nowrap;
  width: 100%;
  height: 400px;
  position: absolute;

  overflow: hidden;
  background:  url("https://drive.google.com/uc?export=view&id=1DkkdD8ACnrVLOTi-CSluwqS6E4Xjv5hL") repeat fixed;
  background-size: 85% auto;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 5;
  font-size: 0;
}
.h {
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  font-size: 40px;
  text-shadow: 0 5px 17px rgba(87, 87, 80, 0.85);
}

@media (min-width:801px)  {
  #mobile {
    display: none;
  }
}

#gradient {
  height: auto;
  position: relative;
  width: 90%;
  margin-top: 5%;
}
.middle {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%;
}
h1 {
  color: #656d78;
  font-size: 2.4em;
  text-align: center;
  text-transform: uppercase;
}
.wrapper {
  align-items: center;
  background-image: linear-gradient(to right, rgba(6, 150, 229, 0.45), rgba(255, 245, 29, 0.74), rgba(6, 150, 229, 0.7), rgba(60, 182, 255, 0.84), #054f7d);
  background-size: 600%;
  background-position: 0 0;
  box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.5);
  display: flex;
  font-family: 'Lato', Arial, sans-serif;
  height: 100%;
  justify-content: center;
  /* Animation */
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: gradients;

}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;


}

.card {
  width: 250px;
  height: 250px;
  margin: 3em;
  perspective: 1500px;
  -webkit-box-shadow: 0px 0px 5px 6px rgba(71,71,71,.2);
  -moz-box-shadow: 0px 0px 5px 6px rgba(71,71,71,.2);
  box-shadow: 0px 0px 5px 6px rgba(71,71,71,.2);
}
.card .content {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}

.more {
  display: none;
}
.more:checked ~ .content {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 6px;
}
.front .inner,
.back .inner {
  height: 100%;
  display: grid;
  padding: 1.5em;
  transform: translateZ(80px) scale(0.94);
}

.front {
  background-color: rgba(255, 255, 255, 0);
  background-size: cover;
  background-position: center center;
  -webkit-filter: grayscale(3);
  -webkit-transition: all .8s ease-in-out;
}
.front:hover{
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
  cursor: pointer;
}
.front:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 6px;
  backface-visibility: hidden;
  background: linear-gradient(40deg, rgba(67, 138, 243, 0), rgba(255, 242, 166, 0));
}
.front .inner {
  grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
  justify-items: center;
}

.front h2 {
  grid-row: 2;
  margin-bottom: 0.3em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  font-weight: 500;
  font-size: 4vh;
  text-shadow: 0 0 2px #ffffff;
}
.front .rating {
  grid-row: 3;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  display: flex;
  flex-flow: row nowrap;
}
.front .rating i {
  margin: 0 1px;
}

.back {
  transform: rotateY(180deg);
  background-color: rgba(23, 0, 255, 0);
  border: 2px solid #f0f0f0;
}
.back .inner {
  grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 0.8em;
  justify-items: center;
}
.back .info {
  position: relative;
  display: flex;
  align-items: center;
  color: #355cc9;
  grid-row: 3;
}
.back .info:not(:first-of-type):before {
  content: '';
  position: absolute;
  left: -0.9em;
  height: 18px;
  width: 1px;
  background-color: rgba(204, 204, 204, 0);
}
.back .info span {
  font-size: 2em;
  font-weight: 700;
}
.back .info i {
  font-size: 1.2em;
}
.back .info i:before {
  background: linear-gradient(40deg, #355cc9, #438af3);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.back .info .icon {
  margin-left: 0.3em;
}
.back .info .icon span {
  display: block;
  margin-top: -0.25em;
  font-size: 0.8em;
  font-weight: 600;
  white-space: nowrap;
}
.back .description {
  grid-row: 5;
  grid-column: 1/-1;
  font-size: 0.86em;
  border-radius: 5px;
  font-weight: 600;
  line-height: 1.4em;
  overflow: auto;
  color: #355cc9;
  padding-right: 10px;
}
.back .location,
.back .price {
  font-weight: 600;
  color: #355cc9;
  grid-row: 1;
  font-size: 0.86em;
}
.back .location {
  grid-column: 1/3;
  justify-self: left;
}
.back .price {
  grid-column: 3/-1;
  justify-self: right;
}
.back .button {
  grid-column: 1/-1;
  justify-self: center;
}
section{
  width: 100%;
  margin-left: auto;
  margin-right:auto;
  display: block;
}

@media (min-width:320px) and (max-width:799px) {
  .w {
    margin: 0 auto;
    margin-top: 5%;
    white-space: nowrap;
    width: 100%;
    height: 200px;
    position: absolute;

    overflow: hidden;
    background:  url("https://drive.google.com/uc?export=view&id=1VIOU4qHL8vx2LqppEbdTnTKuHwPE31p0") repeat fixed;
    background-size: 85% auto;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 5;
    font-size: 0;
  }
  .w1 {
    margin: 0 auto;
    margin-top: 5%;
    white-space: nowrap;
    width: 100%;
    height: 200px;
    position: absolute;

    overflow: hidden;
    background:  url("https://drive.google.com/uc?export=view&id=1YHHpJE84g-J7wxA-k67ZSD4OMR1oG1I5") repeat fixed;
    background-size: 85% auto;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 5;
    font-size: 0;
  }


}
