<img id="AdulteBanner"   src="https://drive.google.com/uc?export=view&id=15urKwl_su_vYTHnwS7u_W56MLqXQ77tX" >

<div class="grad">
  <div class="jumbotron tricot" >      <h2 id="bb" style="text-align: center">Ligne gaspi  </h2></div>
</div>
<div class="cont ">




  <div class="tricot ">
    <div class="left-div left-text">
      <div class="preview-pic tab-content">


      </div>
      <div class="preview col-md-6">

      </div>

    </div>
    <div id="mobile"  class="  right-text">

      La ligne Gaspi est destinée aux enfants et aux parents.
      C’est notre manifeste contre le gaspillage: une nouvelle façon de produire, de consommer et de réfléchir !
      La tige en coton recyclé et la doublure en bouteilles recyclées aident à trier les matières lorsqu’on les recycle !
      Premières amovibles et lavables, et une semelle en TPR 50% recyclée !
      <br> Tailles disponibles: du 36 au 47


    </div>

    <div id="desktop"  class="right-div  right-text">

      La ligne Gaspi est destinée aux enfants et aux parents.
      C’est notre manifeste contre le gaspillage: une nouvelle façon de produire, de consommer et de réfléchir !
      La tige en coton recyclé et la doublure en bouteilles recyclées aident à trier les matières lorsqu’on les recycle !
      Premières amovibles et lavables, et une semelle en TPR 50% recyclée !
     <br> Tailles disponibles: du 36 au 47


    </div>
  </div>




</div>
<div class="shoescontainer">
  <img class="shoes" src="https://drive.google.com/uc?export=view&id=101G51GGjRBGfEs0dAo0yQsDlxwk_66Z5" />
  <img class="shoes"  src="https://drive.google.com/uc?export=view&id=1kUQM74_xTMqK4FhPsIwdCtT5zeO2Ptao" />
</div>
<div  class="w">


  <div class="h">

  </div>
</div>
<h1>Retrouvez nos autres lignes</h1>

<div >
  <section id="gradient">
    <div class="wrapper">
      <div routerLink="/Ligne-Bébé" class="card">
        <input type="checkbox" id="card1" class="more" aria-hidden="true">
        <div class="content">
          <div class="front" style="background-image: url('https://drive.google.com/uc?export=view&id=1LCM7maBiY4rMyZmzoCaaYnQXBgcsqASi')">
            <div class="inner">
              <h2>Bébé</h2>

            </div>
          </div>

        </div>
      </div>
      <div routerLink="/Ligne-Enfant" class="card">
        <input type="checkbox" id="card2" class="more" aria-hidden="true">
        <div class="content">
          <div class="front" style="background-image: url('https://drive.google.com/uc?export=view&id=1AywwIuIRvUvrEmuvp_avvng75Banz66N')">
            <div class="inner">
              <h2>Enfant</h2>

            </div>
          </div>

        </div>
      </div>
    </div>

  </section>
</div>
