<section>
  <div class="test">
    <p class="prod">Produits</p>
  </div>

<span class="txt"> La chaussure Etik</span>
<div class="Images">
  <img routerLink="/EtikRose" id="Photo2" src="https://drive.google.com/uc?export=view&id=1QfdPtPJLEwVn69PwnrZ6j4crO1fimqWR">
  <img routerLink="/EtikBleue" id="Photo3" src="https://drive.google.com/uc?export=view&id=14t6vRtKVDgAgLpEKb8OvbRzOzgmFH3K-">
  <img  routerLink="/EtikNoire" id="Photo4" src="https://drive.google.com/uc?export=view&id=1CD0zmu64pISXE6Il-ELUXXqkSppt53gQ">
</div>
</section>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner text-center">
          <!-- Quote 1 -->
          <div class="item active">

            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <p>Philomène ma petite ado aussi soucieuse de l’environnement que de son look est ravie d’avoir trouvé sa marque chouchou ,
                  elle porte une pointure 34 équivalent à sa pointure habituelle , aussi bien en jean qu’avec une petite robe d’été</p>
                <small onclick="location='https://www.instagram.com/de_melo_a_melie/'" target="_blank">@de_melo_a_melie </small>
              </div>
            </div>

          </div>
          <!-- Quote 2 -->
          <div class="item">

            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <p>Stella a vite adopté ses nouvelles baskets ALMA PLANETE de la gamme ETIK.
                  Elles sont si souples et confortables que Stella peut aussi bien jouer au foot ⚽
                  ( à la maison ) que faire sa danse 💃🏻 avec !! C’est une basket simple et confortable à porter, qui respecte
                  l’environnement et défend un commerce transparent et équitable. </p>
                <small onclick="location='https://www.instagram.com/lololeblog/'" target="_blank">@lololeblog </small>
              </div>
            </div>

          </div>
          <!-- Quote 3 -->
          <div class="item">

            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <p>« Elégantes, confortables et robustes. » Baskets élégantes et confortables.
                  Le tissu tricoté de la chaussure apporte une touche d'originalité.</p>
                <small>Elisabeth</small>
              </div>
            </div>

          </div>
        </div>
        <!-- Bottom Carousel Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="https://drive.google.com/uc?export=view&id=1d5x4SwPF3TlBd4XEvLOxMV1pnlrLisIm" alt="">
          </li>
          <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="https://drive.google.com/uc?export=view&id=17K07R4_ZkDLp1yWJX2otOb50B-7_Mdvz" alt="">
          </li>
          <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive"  alt="">
          </li>
        </ol>

        <!-- Carousel Buttons Next/Prev -->
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>
