

.wrapper {
  width: 90%;
  margin: 0 auto;
  position: relative;
  margin-top: 10%;

}

/* Makes the checkbox hack work for Android 4.1.2 */
@-webkit-keyframes checkbox-hack-bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
body {
  -webkit-animation: checkbox-hack-bugfix infinite 1s;
  background-color: #272d39;
}



.content2 {

}

.icons {
  width: 10%;
  height: auto;
}

.container-fluid{
  width: 100%;
  height: auto;
margin-left: 10%;

}
p{
  color: white;
}
#Page{
  font-family: concert, serif;
  font-size: 3.5vh;
  margin-left: 42%;
  font-weight: 100;
  text-shadow: 0px 0px 5px #ffffff;
}
#welcome{

  float: right;
  font-family: concert, serif;
  font-size: 2.5vh;
}

#logo{
  width: 10%;
  height: auto;
  float: left;
}
strong{
  margin: 2%;
}
#retour{
  color: #222222;
}
#retour:hover{
  color: #ffffff;
}


.btn-default{
  float: bottom;
  color: white;
}
.btn-default:hover{
  background-color: #ffffff;
  box-shadow: 0 5px 15px #ffffff;
  border: none!important;
  outline: none!important;
  color: #002147; ;
}
.boite{
  width: 30%;
  height: auto;
  margin-left: 12.5%;
  margin-top: 5%;
}

.ecrits{
  margin-top: 1%;
  font-size: 2.5vh;
  margin-left: 25%;
}

#pic-1 , #pic-2 , #pic-3 , #pic-3 , #pic-4 , #pic-5  {
  width: 82%;
  height: auto;
}
#pic-1a , #pic-2a , #pic-3a , #pic-3a , #pic-4a , #pic-5a  {
  width: 90%;
  height: auto;
}
#pic-1d , #pic-2d , #pic-3d , #pic-4d {
  width: 90%;
  height: auto;
}
#pic-1e , #pic-2e , #pic-3e, #pic-4e {
  width: 90%;
  height: auto;
}

#pic-1f , #pic-2f , #pic-3f, #pic-4f , #pic-5f {
  width: 90%;
  height: auto;
}

h3{
  font-size: 3vh;
}

.titre{
  font-size: 4vh;
 text-align: center;
  color: black;
  padding: 2%;
  font-weight: bold;
}
.al{

  background: linear-gradient(to right, #30CFD0 0%, #e3e81d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.informations{

  float: right;
}


#separation1 , #separation2 , #separation3{
  width: 50%;
  margin-left: 0;
  margin-top: 5%;
  background-color: #759F9E;
  position: relative;
}
#Page1 , #Page2 , #Page3
{font-family: concert, serif;
  font-size: 3.5vh;
  margin-left: 5%;
  color: white;
  font-weight: 100;
  text-shadow: 0px 0px 5px #ffffff;
}

#separation{
  width: 73%;
  margin-left: 12%;
  margin-top: 5%;
  background-color: #759F9E;
  position: relative;
}




#Page{
  font-family: concert, serif;
  font-size: 3.5vh;
  margin-left: 35%;
  color: white;
  font-weight: 100;
  text-shadow: 0px 0px 5px #ffffff;
}

#Logoalmaplanete{
  width: 20%;
  height: auto;
}

body {
  font-family: concert, serif;

}
#almaplanete{
  width: 100%;
  height: auto;
  margin-left: 0;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 100%;
  margin: 0;

}

/* Remove extra left and right margins, due to padding in columns */
.row
{margin: 0 -5px;
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  color: black;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}








#image{
  height: 100%;
  width: 100%;
  position: relative;



  padding: 2%;
}






h3{
  padding: 4%;
  line-height: 2rem;
  font-family: Montserrat, serif;
  text-space: 4;
  height: 100%;
  float: right;

  position: relative;

}



#Titre {
  font-size: 2rem;
  margin-left: 5px;
}

font{
  color: #7fbbd7;
}

#maroc{
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.68);
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 5%; }
.preview-thumbnail.nav-tabs li {
  width: 30%;
  margin-right: 2.5%; }
.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block; }
.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0; }
.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0; }

.tab-content {
  overflow: hidden; }
.tab-content img {
  width: 100%;
}

.shoedesc{
  width: 50%;
  float: right;

}

.preview-pic{
  height: auto;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
}


.card {
  margin-top: 40px;
  background-color: #FFFFFF;
  padding: 3em;
  line-height: 1.5em;
  border: none;
  box-shadow: none;

}


#latige{
  margin-left: 5%;
}
#lacets{
  margin-left: 30%;
}



#pic-1b , #pic-2b , #pic-3b , #pic-4b{
  width: 70%;
  height: auto;
  margin-top: 15%;
}

.content{
  box-shadow: rgba(0, 0, 0, 0.65);
}

#chaussure{
  width: 80%;
  height: 80%;
  margin-left: 28%;
}
#descriptions{
  width: 40%;
  margin-left: 30%;
  background-color: #ffffff;

  -webkit-box-shadow: 0px 0px 4px 3px #759F9E;
  -moz-box-shadow: 0px 0px 4px 3px #759F9E;
  box-shadow: 0px 0px 4px 3px #759F9E;

}


main {
  width: 100%;
  margin: 60px auto;
  padding: 0 10px;

  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: auto;
  /*Define our columns */
  grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
  grid-gap: 20%;
  column-gap: 0;
}

article {
  border-radius: 10px;
  margin-left: 15%;
  color: #fff;
  width: 58%;
  height: auto;
}




p{
  color: #333;
}

@media screen and (min-width: 997px) {
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }



@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }




.action{
  margin-left: 50%;
  margin-top: 50%;
}




.btn-primary{
  background-color:#7fbbd7;
  outline-color: #7fbbd7;
  border: none;
}


#retour{
  float: left;
}


btn-default

{

  background-color: rgba(255, 69, 0, 0.89);

  color:#FFF;

  border-color: rgba(255, 69, 0, 0.89);

  margin-top: 25%;

}






#montrerlaboite{
  margin-left: 5%;
  width: 190px;
  height:60px;
  margin-top: 0;
  background-color: #759F9E;
}


@-webkit-keyframes fadeInRight {
  from {
    opacity:0;
    -webkit-transform: translatex(10px);
    -moz-transform: translatex(10px);
    -o-transform: translatex(10px);
    transform: translatex(10px);
  }
  to {
    opacity:1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
@-moz-keyframes fadeInRight {
  from {
    opacity:0;
    -webkit-transform: translatex(10px);
    -moz-transform: translatex(10px);
    -o-transform: translatex(10px);
    transform: translatex(10px);
  }
  to {
    opacity:1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
@keyframes fadeInRight{
  from {
    opacity:0;
    -webkit-transform: translatex(100px);
    -moz-transform: translatex(100px);
    -o-transform: translatex(100px);
    transform: translatex(100px);
  }
  to {
    opacity:1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
.in-right {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-duration:1s;
  animation-delay: 1s;
}
.glyphicon{
  font-size: 2vh;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {




  #separation1 , #separation2{
    width: 70%;
    margin-left: 0;
    margin-top: 5%;
    background-color: #759F9E;
    position: relative;
  }
  #Page1 , #Page2
  {font-family: concert, serif;
    font-size: 3.5vh;
    margin-left: 5%;
    color: white;
    font-weight: 100;
    text-shadow: 0px 0px 5px #ffffff;
  }

  .titre{
    text-align: center;
  }

  .ecrits{

    margin-left: 15%;
  }

  main {
    width: 100%;
    margin: 10px auto;
    padding: 0 20px;

    display: grid;
    /* Define Auto Row size */
    grid-auto-rows: auto;
    /*Define our columns */
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 1em;
    column-gap: 0;
  }

  article {
    border-radius: 10px;
    margin-left: 0;
    color: #fff;
    width: 70%;
    height: auto;
  }

  article:nth-child(odd) {
    background-color: white;
  }

  article:nth-child(even) {
    background-color: white;
  }



  .preview-pic{
    width: 150%;
    height: auto;
  }
  #chaussure{
    margin-left: -5%;
  }
  #descriptions{
    margin-left: 10%;
  }

  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 2px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
  .preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block; }
  .preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0; }
  .preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0; }

}

#yes{
  z-index: -1;

}

a {
  cursor: pointer;
}

article{
  width: 70%;
}
.smallicons {
  width: 90%;
  padding: 3%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

section {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: -15%;
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23%, 2fr));
  grid-gap: 2%;
  margin-left: auto;
  margin-right: auto;




}

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
.grid > article:hover {
  border: 1px solid #ccc;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid > article img {
  max-width: 100%;
}

.grid .text {
  font-size: 2.5vh;
}


#grid {
  width: 100%;
}

p{
  text-align: center;
  color: #333;
}

.jumbotron{
  background: #00c3ff;
  background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);
  background: linear-gradient(to right, #ffff1c, #00c3ff);
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

#txt{
  text-align: center;
  vertical-align: middle;
  font-size: 4vh;
  color: #FFFFFF;

}

.shoebox{

  padding: 0;
  width: 100%;
}
.container
{

margin-right: auto;
  margin-left: auto;
  display: block;
  width: 100%;
  text-align: center;



}
.left-div
{
  display: inline-block;
  max-width: 45%;
  text-align: left;
  padding: 10px;
  background-color: transparent;
  margin: 15px;
  vertical-align: top;
  color: #fff;
  font-weight: 100;
}
.right-text {
  padding: 2%;
  text-align: justify;
  text-justify: inter-word;
  word-wrap: break-word;
  height: 20%;
}
.left-text{
  padding: 2%;
  height: 20%;
  text-align: justify;
  text-justify: inter-word;
  word-wrap: break-word;

}
.right-div
{
  display: inline-block;
  max-width: 46%;
  text-align: left;

  border-radius: 3px;

  margin: 15px;
  font-size: 3vh;

  font-weight: 100;

  color: #FFFFFF;

}
.Etikshoes {
  display: inline-block;
  max-width: 45%;
  text-align: left;
  padding: 10px;
  background-color: transparent;
  margin: 15px;
  vertical-align: top;
  color: #fff;
  font-weight: 100;
}
.Cotinoshoes {

  display: inline-block;
  max-width: 46%;
  text-align: left;

  border-radius: 3px;

  font-size: 3vh;
  color: #fff;
  font-weight: 100;
}
#photo8{
  margin-top: 5%;
  width: 95%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  display: block;
  -webkit-box-shadow: 0 0 15px rgba(46, 46, 46, 0.35);
  -moz-box-shadow: 0 0 15px rgba(46, 46, 46, 0.35);
  box-shadow:0 0 15px rgba(46, 46, 46, 0.35);
}
#photo9{
  margin-top: 5%;
  width: 95%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  display: block;
  -webkit-box-shadow: 0 0 15px rgba(46, 46, 46, 0.35);
  -moz-box-shadow: 0 0 15px rgba(46, 46, 46, 0.35);
  box-shadow:0 0 15px rgba(46, 46, 46, 0.35);
}
#photoA {


  width: 50%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  display: block;

}
.notreT {
  background-color:#e3e81d;
  width: 50%;
  height: auto;
  line-height:80px;
  font-size:8vh;
  text-align:center;
  position:relative;
  margin:100px auto;
  color:#fff;
  background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
}
#antigasp {
  font-size: 3.5vh;
}
#coton {
  background-color:#003d55;
}

#coton:before, #coton:after {
  background-color: #002432;

}
.notreT:before, .notreT:after {
  background-color: #c7cb16;
  width:50px; height:80px;
  content:'';
  display:block;
  transform:skewY(20deg);
  position:absolute;
  z-index:-1;
}

.notreT:before {top:10px; left:0; }
.notreT:after {top:-10px; right:0; }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8vh;
  color: #fff;
  font-weight: 100;
  text-shadow: 0 0 5px #fff;
}
.photoA {


  width: 50%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  display: block;

}
.wrap {
  width: 100%;
  height: auto;
background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
  margin-top: 0;
-webkit-box-shadow: 0 0 15px rgba(46, 46, 46, 0.35);
  -moz-box-shadow: 0 0 15px rgba(46, 46, 46, 0.35);
  box-shadow:0 0 15px rgba(46, 46, 46, 0.35);
}

.Etikleft {
  padding: 2%;
  text-align: justify;
  text-justify: inter-word;
  word-wrap: break-word;
  display: inline-block;
  max-width: 46%;
  border-radius: 3px;
  margin: 15px;

  font-size: 3vh;

  font-weight: 100;


  color: white;

}
.cotino {
  display: inline-block;
  max-width: 50%;
  text-align: left;
  padding: 30px;
  border-radius: 3px;
  margin: 15px;
  font-size: 3vh;
  -webkit-box-shadow: 0 0 15px rgba(46, 46, 46, 0.35);
  -moz-box-shadow: 0 0 15px rgba(46, 46, 46, 0.35);
  box-shadow:0 0 15px rgba(46, 46, 46, 0.35);
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  font-weight: 100;
  color: #FFFFFF;
}
.gaspi {
  display: inline-block;
  max-width: 46%;
  text-align: left;
  padding: 30px;
  border-radius: 3px;

  font-size: 3vh;

  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  font-weight: 100;
  color: #FFFFFF;
}

@media screen and (max-width: 600px)
{
  .left-div, .right-div
  {
    max-width: 100%;
  }
}
#gradient {
width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: block;

}

.wrappergrad {
  margin-top: 15%;

  align-items: center;
  background-image: linear-gradient(to right, rgba(6, 150, 229, 0.45), rgba(230, 220, 28, 0.8), rgba(6, 150, 229, 0.7), rgba(60, 182, 255, 0.84), #054f7d);
  background-size: 600%;
  background-position: 0 0;
  box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  /* Animation */
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: gradients;
}


h1 {
  color: white;
  font-size: 2.4em;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 830px) {
  h1 {
    font-size: 2em;
  }
}
@keyframes gradients {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 90% 0;
  }
  60% {
    background-position: 60%;
  }
  75% {
    background-position: 40%;
  }
  100% {
    background-position: 0 0;
  }
}

article {
  background-color: #FFFFFF;
  padding: 10%;
  width: 90%;

}

.txt {
  font-size: 4vh;
  background-color: rgba(244, 247, 249, 0.65);
  padding: 5%;
  margin-bottom: 0;

  position: relative;
  margin-top: 5%;
  color: black;
  text-align: justify;
  text-justify: inter-word;
  font-weight: 300;

}



html{
  scroll-behavior: smooth;
}

header {
  position: relative;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}



header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {

  }
  header video {
    display: none;
  }
}

.grad{

  background: linear-gradient(-45deg, rgba(233, 120, 85, 0.87), rgba(231, 60, 126, 0.84), rgba(35, 166, 213, 0.87), rgba(35, 213, 171, 0.83));
  background-size: 300% 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 95%;
  margin-top: 2%;


  animation: gradientBG 15s ease infinite;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




.article{
  font-size: 2rem;
  margin-top: 5%;

}


/** TEXTURES **/

.jean{background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");}
.tricot {background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");}
.tricot3{background-image: url("https://www.transparenttextures.com/patterns/cloth-alike.png");}

/**  TEXTURES **/

#wraphistoire{




}
#savoirfair{
  background-size: 130% 100%;
}


#retour{
  margin-top: 1%;
  margin-left: 2%;
}


btn-default

{

  background-color: rgba(255, 69, 0, 0.89);

  color:#FFF;

  border-color: rgba(255, 69, 0, 0.89);

  margin-top: 25%;



}


font{
  font-size: 2rem;
}

#imagemicrofibre{

  width: 100%;
  height: auto;
  position: relative;


}

#Souplesse{
  text-align: justify;
  text-justify: inter-word;
  word-wrap: break-word;
  width: 20%;
  height: auto;
  float: right;

  animation-delay: 2s;
}
#Confort{
  width: 20%;
  height: auto;
  float: left;
  text-align: justify;
  text-justify: inter-word;
  word-wrap: break-word;
  animation-delay: 2s;
}
#Lasemelle {
  width: 30%;
  height: auto;
  float: left;
}
#Durabilité{
  width: 20%;
  height: auto;
  padding: 2%;
  float: right;
  text-align: justify;
  text-justify: inter-word;
  word-wrap: break-word;
  animation-delay: 2s;
}
#Creativité{
  width: 20%;
  height: auto;
  float: left;
  padding: 2%;
  text-align: justify;
  text-justify: inter-word;
  word-wrap: break-word;
  animation-delay: 2s;
}

#Histoire{
  margin-bottom: 0;
}
#txtmicrofibre{
  background-color: rgba(255, 255, 255, 0.61);
  padding: 1%;
  animation-delay: 50ms;

  background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
}
#txtSouplesse{
  margin-bottom: 0 ;
  background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
}

#txtConfort{

  background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
}
#txtDurabilité{

  background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
}
#txtCreavitité{

  background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
}
#txtmouton{
  float: right;
  padding: 5%;
  animation-delay: 2s;
  background-color:#002147 ;
  color: #ffffff;
}
#imagemouton{
  width: 510px;
  height: 510px;
  float: left;


  animation-delay: 2s;

}

#lespremieres{
  background-color: rgba(255, 69, 0, 0.89);
}

#PremiereTanveg{

  float: right;
  background-repeat: no-repeat;
  margin-bottom: 50%;
  animation-delay: 2s;
  height: 506px;
  width: 506px;

}
#txtlespremieres{
  color: #ffffff;
  margin-top: 0;
}




/**ANIMATIONS ** /
/** FADEIN LEFT **/






@media only screen and (max-width: 400px){


  #imagemicrofibre{

    width: 100%;
    height: auto;
    position: relative;
  }


  #txtSouplesse{

  }
  #Souplesse{

    height: 100px;
    width: 100px;
  }
  #Confort{

    height: 100px;
    width: 100px;
  }
  #Durabilité{
    height: 100px;
    width: 100px;
  }
  #Creativité{
    height: 100px;
    width: 100px;
  }
  .mytitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow:
      0 0 5px #7fbbd7,
      0 0 10px #7fbbd7,
      0 0 20px #7fbbd7,
      0 0 40px #7fbbd7,
      0 0 80px #7fbbd7,
      0 0 90px #7fbbd7,
      0 0 100px #7fbbd7,
      0 0 150px #7fbbd7;
    font-size: 2vh;
    font-weight: 100;
  }


  .titre{
    font-size: 2rem;
    color: #7fbbd7;
  }

  .article{
    font-size: 1rem;
    margin-top: 5%;

  }
}

p {
  text-align: center;
}
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none; }

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden; }
.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
  color: black;
  cursor: pointer;
  display: block;
  font-size: 3.5vh;
  font-weight: 900;
  line-height: 1em;
  padding: 2rem 0;
  text-align: center; }
.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
  border-bottom: 1px solid rgba(239, 237, 239, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
.tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
  border-bottom: 2px solid black;
}
.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
  border-bottom: 5px solid black;
}
.tabs [class^="tab"] [type="radio"]:checked + div,
.tabs [class*=" tab"] [type="radio"]:checked + div {
  opacity: 1; }
.tabs [class^="tab"] [type="radio"] + div,
.tabs [class*=" tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
.tabs .tab-2 {
  width: 50%; }
.tabs .tab-2 [type="radio"] + div {
  width: 200%;
  margin-left: 200%; }
.tabs .tab-2 [type="radio"]:checked + div {
  margin-left: 0; }
.tabs .tab-2:last-child [type="radio"] + div {
  margin-left: 100%; }
.tabs .tab-2:last-child [type="radio"]:checked + div {
  margin-left: -100%; }

.produit {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}



@media (min-width:320px) and (max-width:799px)  {

  #pic-1 , #pic-2 , #pic-3 , #pic-3 , #pic-4 , #pic-5  {
    width: 70%;
    height: auto;
  }
  #pic-1a , #pic-2a , #pic-3a , #pic-3a , #pic-4a , #pic-5a  {
    width: 70%;
    height: auto;
  }
  .Etikleft{
    display: none;
  }
  #mobile {
    color: white;
    font-size: 3vh;
    padding: 2%;
  }
  .Etikshoes {
    display: inline-block;
    max-width: 100%;
    text-align: left;
    padding: 10px;
    background-color: transparent;
    margin: 15px;
    vertical-align: top;
    color: #fff;
    font-weight: 100;
  }
  #pic-1d , #pic-2d , #pic-3d, #pic-4d {
    width: 70%;
    height: auto;
  }
  #pic-1e , #pic-2e , #pic-3e, #pic-4e {
    width: 70%;
    height: auto;
  }

  #pic-1f , #pic-2f , #pic-3f, #pic-4f , #pic-5f {
    width: 70%;
    height: auto;
  }
  .icons {
    width: 30%;
    height: auto;
  }

}
@media (min-width:801px) {
  #mobile {
    display: none;
  }
}

@media (min-width:320px) and (max-width:799px)  {
  .notreT {
    font-size: 4vh;
    width: 100%;
  }
  .txt {
    font-size: 2.5vh;}
  .photoA {
    width: 70%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  #photoA {


    width: 70%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;

  }


  .smallicons {
    width: 100%;
    padding: 3%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  article {
    border-radius: 10px;

    color: #fff;
    width: 100%;
    height: auto;
    font-size: 2vh;

  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33%, 2fr));
    grid-gap: 1%;
    margin-left: auto;
    margin-right: auto;
  }
  #gradient {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .grad{

    background: linear-gradient(-45deg, rgba(233, 120, 85, 0.87), rgba(231, 60, 126, 0.84), rgba(35, 166, 213, 0.87), rgba(35, 213, 171, 0.83));
    background-size: 300% 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    margin-top: 2%;


    animation: gradientBG 15s ease infinite;
  }

  .right-div
  {
    font-size: 2.5vh;
    margin: 5px;
  }
  .left-div
  {
    font-size: 2.5vh;
    margin: 5px;

  }
  #mobile {
    color: white;
    font-size: 2.5vh;
    padding: 2%;
  }


}
