

<div class="produit" >









  <div class="tabs">
    <div class="tab-2">
      <label for="tab2-1">
        <img class="icons" src="https://drive.google.com/uc?export=view&id=1ZUGgYpRXve0jvqutCN6kiXKskIv7d-FW"  alt="Flower" width="460" height="345">
        <div class="text">Tricot recyclé</div>

      </label>
      <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
      <div class="">


      <div class="grad">




        <div class="tricot ">
          <div class="left-div left-text">
            <div class="preview-pic tab-content">

              <div class="tab-pane active" id="pic-1"><img   src="https://drive.google.com/uc?export=view&id=1sOvATw-fwIfK8WfDVvoX9WuzemsuYrGF" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>
              <div class="tab-pane" id="pic-2"><img src="https://drive.google.com/uc?export=view&id=1S1wX268qdOGrRfD1_N3UfXOquUzZa5t1" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>

              <div class="tab-pane" id="pic-4"><img src="https://drive.google.com/uc?export=view&id=1OiFi_yoaoEo0hXV0JmdjT6DSBJtm7iX7" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>



            </div>
            <div class="preview col-md-6">




              <ul class="preview-thumbnail nav nav-tabs">
                <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1sOvATw-fwIfK8WfDVvoX9WuzemsuYrGF" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques"  /></a></li>
                <li><a data-target="#pic-2" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1S1wX268qdOGrRfD1_N3UfXOquUzZa5t1" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>
                <li><a data-target="#pic-4" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1OiFi_yoaoEo0hXV0JmdjT6DSBJtm7iX7" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>




              </ul>

            </div>

          </div>

          <div   class="right-div  right-text">
            <h2 style="text-align: center">Bébé tricotine  </h2>
            Les baskets Alma Planète bébé sont adaptées aux plus petits!
            La tige en tricot recyclé est souple et facile  à enfiler, comme une chaussette.
            La semelle avec le capot avant permet aux bébés de marcher en toute liberté et confortablement. Premières en mémoire de forme et lavables.
        <br>    Tailles disponibles: du 19 au 24

          </div>
        </div>




      </div>


        <div class="grad ">




          <div class="tricot">
            <div   class="Etikleft right-text ">

              <h2 style="text-align: center">Basket Etik</h2>
              La basket Etik s’accorde à tous les moments de la journée:
              pour aller à l’école ou pour jouer avec les copains! La tige est à 100% en bouteilles recyclées.
              Quant à la semelle, elle est collée et surpiquée pour un maintien maximal. Premières amovibles et lavables.
<br>
              Tailles disponibles: du 24 au 37
            </div>
            <div id="mobile"  class=" left-text ">

              <h2 style="text-align: center">Basket Etik</h2>
              La basket Etik s’accorde à tous les moments de la journée:
              pour aller à l’école ou pour jouer avec les copains! La tige est à 100% en bouteilles recyclées.
              Quant à la semelle, elle est collée et surpiquée pour un maintien maximal. Premières amovibles et lavables.
              <br>
              Tailles disponibles: du 24 au 37
            </div>
            <div  class="Etikshoes left-text">
              <div class="preview-pic tab-content">

                <div class="tab-pane " id="pic-1a"><img   src="https://drive.google.com/uc?export=view&id=12Yx2TKl0HkJ_RQINIDLP3dFBP-Q73qHS" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>
                <div class="tab-pane active" id="pic-2a"><img src="https://drive.google.com/uc?export=view&id=17FmE95Dc64EbmNYterEOtsS1BhRzh4bM" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>
                <div class="tab-pane " id="pic-3a"><img src="https://drive.google.com/uc?export=view&id=1eruImmKquqFavmTgZP6pblLc-lscrvNH" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>
                <div class="tab-pane" id="pic-4a"><img src="https://drive.google.com/uc?export=view&id=1eruImmKquqFavmTgZP6pblLc-lscrvNH" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>
                <div class="tab-pane " id="pic-5a"><img src="https://drive.google.com/uc?export=view&id=1JoUXSyLgL77X5oEU553gXKmYHSG8yted"alt="planete , recyclage , almaplanete , environnemental friendly , plastiques"  /></div>


              </div>
              <div  class="preview col-md-6">




                <ul class="preview-thumbnail nav nav-tabs">
                  <li ><a data-target="#pic-1a" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=12Yx2TKl0HkJ_RQINIDLP3dFBP-Q73qHS" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques"  /></a></li>
                  <li class="active"><a data-target="#pic-2a" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=17FmE95Dc64EbmNYterEOtsS1BhRzh4bM" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>
                  <li><a data-target="#pic-4a" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1eruImmKquqFavmTgZP6pblLc-lscrvNH" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>




                </ul>

              </div>

            </div>
          </div>




        </div>



        <div class="grad ">




          <div class="tricot3">
            <div class="left-div left-text">
              <div class="preview-pic tab-content">

                <div class="tab-pane active" id="pic-1d"><img   src="https://drive.google.com/uc?export=view&id=155NXlrG10Ty3TBTKDxNpcgt_n117HbmN" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>
                <div class="tab-pane" id="pic-2d"><img src="https://drive.google.com/uc?export=view&id=1QLNiMDSZRhRErcRtKZYK6TnUnDkoYqHd" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>

                <div class="tab-pane" id="pic-4d"><img src="https://drive.google.com/uc?export=view&id=1YcNW-se-MiPBAh-mxzNmqbeWh_FZPaM7" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>



              </div>
              <div class="preview col-md-6">




                <ul class="preview-thumbnail nav nav-tabs">
                  <li class="active"><a data-target="#pic-1d" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=155NXlrG10Ty3TBTKDxNpcgt_n117HbmN" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques"  /></a></li>
                  <li><a data-target="#pic-2d" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1QLNiMDSZRhRErcRtKZYK6TnUnDkoYqHd" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>
                  <li><a data-target="#pic-4d" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1YcNW-se-MiPBAh-mxzNmqbeWh_FZPaM7" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>




                </ul>

              </div>

            </div>
            <div   class="right-div right-text">
              <h2 style="text-align: center">Basket tricotine  </h2>
              La basket Tricotine fait partie de notre collection de tricot hiver.
              Tige et doublure faites à partir de bouteilles recyclées.
              Les impressions à base d’eau protègent la chaussure et facilitent le tri des matières.
              En plus, la semelle est collée et piquée sur la tige, et les premières sont lavables et également amovibles!
          <br>    Tailles disponibles: du 24 au 37

            </div>
          </div>

        </div>

        <h1  class="notreT"  >
          Notre tricot
        </h1>

        <div class="txt " >
          Avant que nos Alma Planète soient conçues,
          elles passent par quelques étapes de préparation: le triage des bouteilles, la transformation en fil «recyclé et recyclable» et finalement le tricotage puis l’assemblage de la tige sur la semelle.
        </div>
        <div class="wrap">
          <img class="photoA" src="https://drive.google.com/uc?export=view&id=1l4Kz4zh0RsXbbep3shLD5jHuI0-gBClS">
        </div>
        <div class="wrapper"  >

          <img class="i" id="Souplesse" alt="Souplesse , enfants , chaussures" src="https://drive.google.com/uc?export=view&id=1z_RFLY4qWDRl9ueTHWxnX4eYkF09HU3b"  >

          <div class="card papier " id="txtSouplesse">
            <div >
              <p class="titre">Tige</p>
              <p class="article" style="margin-top: 1%">
                Tige en tricot faite à partir de bouteilles recyclées dessin exclusif Alma Planète.
                Pour produire une paire de chaussures il nous faut au minimum 3 bouteilles en plastique.
                Matière recyclée et certifiée par Global Recycled Standard
              </p>
            </div>
          </div>
        </div>
        <div class="wrapper"  >

          <img class="" id="Confort" alt="confort , enfants , chaussures" src="https://drive.google.com/uc?export=view&id=1UCZaGuU7Q4BTyOmrTknzAUxLaj54KnjS"  >

          <div class="card " id="txtConfort">
            <div >
              <p class="titre">Semelle</p>
              <p class="article" style="margin-top: 1%">
                En TPR blanc/gris
              </p>
            </div>
          </div>
        </div>
        <div class="wrapper"  >

          <img class="in-right" id="Durabilité" alt="durabilité , enfants , chaussures" src="https://drive.google.com/uc?export=view&id=1Vos7G6rSv17IIB2V3JYRKgnkhr27316n"  >

          <div class="card  " id="txtDurabilité">
            <div >
              <p class="titre">Première</p>
              <p class="article" style="margin-top: 1%">
                Elle est amovible pour simplifier la séparation des matières pendant le recyclage
              </p>
            </div>
          </div>
        </div>
        <div class="wrapper"  >

          <img class="in-right" id="Creativité" alt="creativité , enfants , chaussures" src="https://drive.google.com/uc?export=view&id=1x4-VhpNfo9CGo4ONv1DkgChhhWBuQUYb"  >

          <div class="card " id="txtCreavitité">
            <div >
              <p class="titre">Lacets</p>
              <p class="article" style="margin-top: 1%">
                Design exclusif Alma planète 100% coton.
                Oeillets brodés: pas de pièces métalliques pour facilité la séparation des matières
              </p>
            </div>
          </div>
        </div>


        <div id="gradient" class="wrappergrad">
          <div id="grid" class="container">
            <main class="grid">
              <article>
                <img class="smallicons" src="https://drive.google.com/uc?export=view&id=1HNd51CERDfudahjEuD-jFUEtqGAA3kpO" alt="Sample photo">
                <div class="text">

                  <p>Redonner du sens aux matières</p>

                </div>
              </article>
              <article>
                <img class="smallicons" src="https://drive.google.com/uc?export=view&id=12TFMBjcMIuvMjYJPd4ryc1tWBFnJv-9f" alt="Sample photo">
                <div class="text">

                  <p> Relations durables et transparentes</p>

                </div>
              </article>

              <article>
                <img class="smallicons"  src="https://drive.google.com/uc?export=view&id=1dQrgWP1sMgE5hh03cyoMTXRFY4_VP7Od" alt="Sample photo">
                <div class="text">

                  <p>Confortable et Durable</p>

                </div>
              </article>
              <article>
                <img class="smallicons" src="https://drive.google.com/uc?export=view&id=1YKJgxsOfxn1B5sWITQPFx0dwMSH0napG" alt="Sample photo">
                <div class="text">

                  <p>Réfléchir, réutiliser et recycler</p>

                </div>
              </article>

            </main>
          </div>
        </div>

      </div>





    </div>



    <!-- TAB 2  !-->



    <div class="tab-2">
      <label for="tab2-2">
        <img class="icons" src="https://drive.google.com/uc?export=view&id=1ncmwf0Q2ymFrKgt95Cs0mbVYfG-OYntd"  alt="Flower" width="460" height="345">
        <div class="text">Coton recyclé</div>
      </label>
      <input id="tab2-2" name="tabs-two" type="radio">
      <div>


        <div class="grad ">




          <div  class="jean ">
            <div class="left-div left-text">
              <div class="preview-pic tab-content">

                <div class="tab-pane active" id="pic-1e"><img   src="https://drive.google.com/uc?export=view&id=1NwCca7IAPChrgUruA9eNl9NaT1yFlJYn" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>
                <div class="tab-pane" id="pic-2e"><img src="https://drive.google.com/uc?export=view&id=1VnbQWm0P_sXBpLHAC5VxiKIH0rJ5lvCj" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>

                <div class="tab-pane" id="pic-4e"><img src="https://drive.google.com/uc?export=view&id=1L1ucECGBE8GjdG3IKR55RYWBNgsIO2gQ" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>



              </div>
              <div class="preview col-md-6">




                <ul class="preview-thumbnail nav nav-tabs">
                  <li class="active"><a data-target="#pic-1e" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1NwCca7IAPChrgUruA9eNl9NaT1yFlJYn" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques"  /></a></li>
                  <li><a data-target="#pic-2e" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1VnbQWm0P_sXBpLHAC5VxiKIH0rJ5lvCj" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>
                  <li><a data-target="#pic-4e" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1L1ucECGBE8GjdG3IKR55RYWBNgsIO2gQ" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>




                </ul>

              </div>

            </div>

            <div   class="right-div  right-text">
              <h2 style="text-align: center">Basket cotinno  </h2>
              La Basket Cotinno passe à un cap supérieur: il s’agit de notre première chaussure avec une semelle TPR 50% recyclé et
              nous en sommes très fiers! Adaptée à tous les moments, la tige est en coton recyclé et la doublure à 100% en bouteilles
              recyclées. Et pour bien protéger la chaussure, nous avons pensé à une talonnette en caoutchouc et des impressions à base d’eau.
              Premières amovibles et lavables!
              <br>Tailles disponibles: du 24 au 37

            </div>
          </div>




        </div>


<div class="grad">
  <div class="tricot">
    <div   class="Etikleft right-text ">

      <h2 style="text-align: center">Basket Gaspi  </h2>
      Voilà notre basket «Manifesto», c’est L’Anti Gaspi! Consommer autrement, réduire les étapes de production, redonner une deuxième vie aux matières.
      Cette basket représente nos démarches vers une consommation réfléchie.
      Tige et doublure recyclées, talonnette en caoutchouc, semelle en TPR 50% recyclé. Premières amovibles et lavables!
      <br>  Tailles disponibles: du 24 au 37
    </div>
    <div id="mobile"  class=" left-text ">

      <h2 style="text-align: center">Basket Etik</h2>
      La basket Etik s’accorde à tous les moments de la journée:
      pour aller à l’école ou pour jouer avec les copains! La tige est à 100% en bouteilles recyclées.
      Quant à la semelle, elle est collée et surpiquée pour un maintien maximal. Premières amovibles et lavables.
      <br>
      Tailles disponibles: du 24 au 37
    </div>
    <div  class="Etikshoes left-text">
      <div class="preview-pic tab-content">

        <div class="tab-pane active" id="pic-2f"><img src="https://drive.google.com/uc?export=view&id=1R159LibguwVWXy65gGrdCQgz6YvfSnT6" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>

        <div class="tab-pane" id="pic-4f"><img src="https://drive.google.com/uc?export=view&id=1XXZkKWSDyXTGw2Qf_3a9oPzPilq_2I90" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>
        <div class="tab-pane" id="pic-5f"><img src="https://drive.google.com/uc?export=view&id=1nfYr5kayiBMHzlzHvPka3-2hvUjlPB91" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>



      </div>
      <div class="preview col-md-6">




        <ul class="preview-thumbnail nav nav-tabs">
          <li class="active"><a data-target="#pic-2f" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1R159LibguwVWXy65gGrdCQgz6YvfSnT6" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>
          <li><a data-target="#pic-4f" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1XXZkKWSDyXTGw2Qf_3a9oPzPilq_2I90" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>
          <li><a data-target="#pic-5f" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1nfYr5kayiBMHzlzHvPka3-2hvUjlPB91" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>




        </ul>

      </div>

    </div>
  </div>


</div>
        <h1 id="coton" class="notreT"  >
          Notre coton
        </h1>

        <div class="txt " >
          Encore plus recyclé qu'avant ! <br>
          Nous pensons au tri: la tige et la doublure sont en matières recyclées, les impressions à base d’eau,
          les oeillets brodés et la première amovible, tout celà facilite le recyclage.
          La nouveauté ? Une semelle en TPR 50% recyclé!
        </div>
        <div class="wrap">
        <img id="photoA" src="https://drive.google.com/uc?export=view&id=1Dex_qXpq1I2s5-eJq28yoUf05DQLfN8u">
        </div>
        <div class="wrapper"  >

          <img class="" id="Lasemelle" alt="confort , enfants , chaussures" src="https://drive.google.com/uc?export=view&id=1Mvi1vtyH2yuAPB-G6cMaaMcmveGWuFyM"  >

          <div class="card " id="txtConfort">
            <div >
              <p class="titre"> La semelle</p>
              <p class="article" style="margin-top: 1%">
                Nous partageons le fruit de nos recherches avec vous! La nouvelle semelle Alma Planète est en TPR 50% recyclé et certifié GRS,
                «Global Recycled Standard». Ce certificat mesure le pourcentage de matières recyclées utilisées et surveille la chaîne de contrôle,
                les pratiques sociales et environnementales, ainsi que les restrictions au niveau de la composition chimique.
              </p>
            </div>
          </div>
        </div>
        <div class="wrapper"  >

          <img class="in-right" id="Durabilité" alt="durabilité , enfants , chaussures" src="https://drive.google.com/uc?export=view&id=1Vos7G6rSv17IIB2V3JYRKgnkhr27316n"  >

          <div class="card  " id="txtDurabilité">
            <div >
              <p class="titre">Le coton</p>
              <p class="article" style="margin-top: 1%">
                Notre tige à base de coton: 60% recyclé et 40% naturel est appropriée à toutes les saisons grâce à sa souplesse et à sa densité.
                La talonnette en caoutchouc permet d’avoir une chaussure structurée et résistante à l’usure
              </p>
            </div>
          </div>
        </div>
        <div class="wrapper"  >

          <img class="in-right" id="Creativité" alt="creativité , enfants , chaussures" src="https://drive.google.com/uc?export=view&id=1x4-VhpNfo9CGo4ONv1DkgChhhWBuQUYb"  >

        </div>
        <div class="card " id="txtCreavitité">
          <div >
            <p class="titre">Lacets</p>
            <p class="article" style="margin-top: 1%">
              Design exclusif Alma planète 100% coton.
              Oeillets brodés: pas de pièces métalliques pour faciliter la séparation des matières
            </p>
          </div>
        </div>


        <div class="wrapper"  >

          <img class="in-right" id="Creativité" alt="creativité , enfants , chaussures" src="https://drive.google.com/uc?export=view&id=1hfotYezNsl-ayj2YQ41Ty8-hsGY4ta1r"  >

          <div class="card " id="txtCreavitité">
            <div >
              <p class="titre">La doublure</p>
              <p class="article" style="margin-top: 1%">
                Des bouteilles plastiques en doublure: la ligne Alma Planète coton a une doublure faite à 100% en bouteilles plastiques! Avant d’être transformées en tissu, elles passent par un processus de triage,
                transformation en fil recyclé puis tissé pour finalement devenir un tissu souple et confortable.
              </p>
            </div>
          </div>
        </div>
        <h1  id="antigasp" class="notreT"  >
         Decouvrir le projet anti-gaspi
        </h1>

        <img id="photo9" src="https://drive.google.com/uc?export=view&id=1bqpr0uc3UsdAAt-uByBiPqgHc_xheoxQ">

        <div id="gradient" class="wrappergrad">
          <div id="grid" class="container">
            <main class="grid">
              <article>
                <img class="smallicons" src="https://drive.google.com/uc?export=view&id=1HNd51CERDfudahjEuD-jFUEtqGAA3kpO" alt="Sample photo">
                <div class="text">

                  <p>Redonner du sens aux matières</p>

                </div>
              </article>
              <article>
                <img class="smallicons" src="https://drive.google.com/uc?export=view&id=12TFMBjcMIuvMjYJPd4ryc1tWBFnJv-9f" alt="Sample photo">
                <div class="text">

                  <p> Relations durables et transparentes</p>

                </div>
              </article>

              <article>
                <img class="smallicons"  src="https://drive.google.com/uc?export=view&id=1dQrgWP1sMgE5hh03cyoMTXRFY4_VP7Od" alt="Sample photo">
                <div class="text">

                  <p>Confortable et Durable</p>

                </div>
              </article>
              <article>
                <img class="smallicons" src="https://drive.google.com/uc?export=view&id=1YKJgxsOfxn1B5sWITQPFx0dwMSH0napG" alt="Sample photo">
                <div class="text">

                  <p>Réfléchir, réutiliser et recycler</p>

                </div>
              </article>

            </main>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>


