#Photo1 {
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#Photo2 {
  width: 100%;
  height: auto;
}

#Photo3 {
  width: 100%;
  height: auto;
}
.txt{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 5vh;
  padding: 1.5%;
}

#Photo4 {
  width: 100%;
  height: auto;
}

#Photo2, #Photo3, #Photo4{
  position: relative;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
#Photo2:hover, #Photo3:hover, #Photo4:hover {
  transform: scale(1.1);
}
section{
  position: relative;
  margin-bottom: 5%;
}
.Images{
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  width: 100%;
  display: grid;
  margin-bottom: 15%;

  /* Define Auto Row size */
  grid-auto-rows: 100px;
  /*Define our columns */
  grid-template-columns: repeat(3,1fr);
  grid-gap: 0.5em;
}

* {
  box-sizing: border-box;
}
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 60px;
}
#quote-carousel .carousel-control {
  background: none;
  color: black;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
#quote-carousel .carousel-indicators {
  position: relative;
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-top: 20px;
  margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  opacity: 0.4;
  overflow: hidden;
  transition: all .4s ease-in;
  vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
  width: 128px;
  height: 128px;
  opacity: 1;
  transition: all .2s;
}
.item blockquote {
  border-left: none;
  margin: 0;
}
.item blockquote p:before {
  content: "\f10d";
  font-family: 'Fontawesome';
  float: left;
  margin-right: 10px;
}
.test {
  width: 70%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 500px;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('https://drive.google.com/uc?export=view&id=16HThk6KpieNJqzrdZh9cfBKSGhcgAA90');
  position: relative;
  text-align: center;
}


.test p {
  margin-left: auto;
  margin-right: auto;
  font-size: 7vh;
  font-weight: bold;
  font-family: Bebas, serif;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.prod{
  margin-bottom: 8%;
}
small:hover{
  cursor: pointer;
}
.fa{
  color: black;
}
.row {
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.col-sm-8{
  font-size: 3vh;
}
@media only screen and (min-width:375px) and (max-width: 799px) {
  /* smartphones, Android phones, landscape iPhone */


  .col-sm-8{
    font-size: 2vh;
  }
  .Images{
    position: relative;

    margin: 20px auto;
    padding: 0 20px;
    width: 100%;
    display: grid;
    margin-bottom: 15%;

    /* Define Auto Row size */
    grid-auto-rows: 100px;
    /*Define our columns */
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0.5em;
  }
  #Photo1 {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #Photo2 {
    width: 100%;
    height: auto;
  }

  #Photo3 {
    width: 100%;
    height: auto;
  }
  .test {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 100%;
    background-size: 100% ;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('https://drive.google.com/uc?export=view&id=16HThk6KpieNJqzrdZh9cfBKSGhcgAA90');
    position: relative;
    text-align: center;
  }
}
