@font-face {
  font-family: concert;
  src: url("assets/concertone-regular.ttf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: hand;
  src: url("assets/Pangolin-Regular.ttf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: Bebas;
  src: url("assets/BebasNeue-Regular.woff") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: Gobold;
  src: url("assets/Gobold-Blocky-Regular.otf") format("opentype");
  font-display: swap;
}

*{
  font-family: concert, serif;

}
