

<div class="jumbotron" >  <h3>Retrouvez nos chaussures dans les points de vente !</h3>   </div>

<div class="points">


  <a href="https://www.besson-chaussures.com/"  target="_blank" >
    <img   class="box"  id="besson" alt="Besson , Chaussures , Hommes , Femmes , Enfants , Filles , Garçons , Bébé"  src="https://drive.google.com/uc?export=view&id=111pDdAg9dAt2qdENhYWAfu0qutGcJ7h2">
  </a>


  <a href="https://www.chaussexpo.fr/" target="_blank" >
    <img   class="box" alt="Chaussexpo , Chaussures , Hommes , Femmes , Enfants , Filles , Garçons , Bébé" id="chaussexpo" src="https://drive.google.com/uc?export=view&id=14qyYt2MzZrMtzGtwJtSw9207d4fcVM8-">
  </a>

</div>
