<div>
   <h1 class="Title">MES ALMA PLANÈTE EN MAGASIN</h1>
</div>

<div class="" style="height:700px; width:100%; display:inline-block; overflow:hidden;">
  <iframe class="custom-google-map mapdiv" style="position:relative; top:-50px; border:none;" src="https://www.google.com/maps/d/u/2/embed?mid=1nl1Ir8dqopaccXYOHUh5J0YXyKNkdtu0" width="95%" height="730px"></iframe>
</div>

<div>
  <img id="Cdiscount" src="https://drive.google.com/uc?export=view&id=1EZ1pDRgEwsgIfW9IjPQQQf0o4LOOg1WU" onclick="location='https://www.cdiscount.com/mpv-105188-almaplanete.html#_his_'" target="_blank" alt="logo CDiscount">
</div>
