.Title{
  font-size: 6vh;
  font-weight: bold;
  font-family: hand, serif;
  color: rgb(18,195,243);
  text-align: center;
  padding: 2%;
}

#Cdiscount {
  cursor: pointer;
  width: 85%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
#Cdiscount:hover {
  transform: scale(1.2);
}
.i4ewOd-pzNkMb-r4nke-LS81yb{
  display: none;
}

#besson{

  margin: 5%;
}

#chaussexpo{

  margin: 5%;
}

#alma{

  width: 250px;
  height: 250px;
  margin-left: 40%;
}

h3{
  text-align: center;
  color: #FFFFFF;
  font-size: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img{
  width: 250px;
  height: 250px;
}

.box {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
}

/* Create the hidden pseudo-element */
/* include the shadow for the end state */
.box::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
}

/* The fast way */

.make-it-fast {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}


/* Pre-render the bigger shadow, but hide it */

.make-it-fast::after {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}


/* Transition to showing the bigger shadow on hover */

.make-it-fast:hover::after {
  opacity: 1;
}

/* Scale up the box */
.box:hover {
  transform: scale(1.2, 1.2);
}

/* Fade in the pseudo-element with the bigger shadow */
.box:hover::after {
  opacity: 1;
}

@media screen and (min-width: 320px) and (max-width: 500px) {

  #alma{

    width: 150px;
    height: 150px;
    margin-left: 35%;
  }

  h3{
    margin-left: 20%;
    color: #FFFFFF;
    font-size: 2rem;
  }


  img{
    width: 100px;
    height: 100px;

  }

}

.mapdiv {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.Title{
  font-family: Bebas, serif;
}


.container  {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  grid-gap: 1em;
}
