<section >

  <div id="carou" class="container" >
    <br>
    <div    id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div id='c'  routerLink="/Nos-choix" class="carousel-inner" role="listbox">

        <div  class="item active">
          <img class="a" src="https://drive.google.com/uc?export=view&id=1M9P65qjk_-RJlvtOcodIjfrasumBWqDG" alt="Chania" >
          <div class="carousel-caption">

          </div>
        </div>

        <div class="item">
          <img class="a" src="https://drive.google.com/uc?export=view&id=12mQU8aNaTt7evervSoTS-_Htu6jlg-IT"  alt="Chania" >
          <div class="carousel-caption">

          </div>
        </div>

        <div class="a" class="item">
          <img src="https://drive.google.com/uc?export=view&id=174utiqYRKbaMLi6dQzGm2VmU2P9xQHb3"  alt="Flower" >
          <div class="carousel-caption">
          <!--  <h3>Flowers</h3>
            <p>Beatiful flowers in Kolymbari, Crete.</p> !-->
          </div>
        </div>



      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

</section>

<section>

  <div routerLink="/Nos-choix"  id="mobile" class="container">
    <img id="photo4" src="https://drive.google.com/uc?export=view&id=10fSFtruANotu2mh4b7FEq3_EluLGeNAt">
    <h3 class="centered"> Nos choix</h3>
  </div>

  <div routerLink="/Nos-choix" class="w">


    <div class="h">
      <h1 class="shadow1">Nos choix</h1>

    </div>
  </div>
</section >
<section id="gradient">
<div class="wrapper">
  <div routerLink="/Ligne-Bébé" class="card">
    <input type="checkbox" id="card1" class="more" aria-hidden="true">
    <div class="content">
      <div class="front" style="background-image: url('https://drive.google.com/uc?export=view&id=1LCM7maBiY4rMyZmzoCaaYnQXBgcsqASi')">
        <div class="inner">
          <h2>Bébé</h2>

        </div>
      </div>

    </div>
  </div>
  <div routerLink="/Ligne-Enfant" class="card">
    <input type="checkbox" id="card2" class="more" aria-hidden="true">
    <div class="content">
      <div class="front" style="background-image: url('https://drive.google.com/uc?export=view&id=1AywwIuIRvUvrEmuvp_avvng75Banz66N')">
        <div class="inner">
          <h2>Enfant</h2>

        </div>
      </div>

    </div>
  </div>
  <div  routerLink="/Ligne-Adulte" class="card">
    <input type="checkbox" id="card3" class="more" aria-hidden="true">
    <div class="content">
      <div class="front" style="background-image: url('https://drive.google.com/uc?export=view&id=1ZIIMPJ1IlvOCrHUpvXVkKw_t3Bmdogmz')">
        <div class="inner">
          <h2>Adulte</h2>

        </div>
      </div>

    </div>
  </div>

</div>

</section>
<section>



  <h1>Suivez nous !</h1>
  <div class="pen-container">
<a target="_blank" href="https://www.facebook.com/profile.php?id=100030464739574">
    <button  id="facebook"></button>
</a>
    <a target="_blank" href="https://www.instagram.com/alma_planete/">
    <button id="instagram"></button>
    </a>
  </div>

</section>
